<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/layouts/images/qiantang.ico}" />
    <title>500</title>
    <style type="text/css">
        .d1{
            position:relative;
            text-align:center;
        }
        img{
            width:100%;
        }
        .back{
            position:absolute;
            left:46%;
            bottom:20%;
            color:#666;
            text-decoration:none;
            cursor:pointer;
        }
    </style>
</head>
<body>
    <div class="d1">
        <img th:src="@{/pages/common/images/500.jpg}" alt="" />
        <a onclick="javascript:history.back(-1);" class="back">返回上一页</a>
    </div>
</body>
</html>