<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>数据市场 | 钱塘数据交易中心</title>
    <div th:replace="layout/top"/>
    <link rel="stylesheet" href="/pages/common/css/about.css"/>
</head>
<body>
    <!--  页头 -->
    <div th:replace="layout/header"></div>
    <!-- 页头结束 -->

    <div class="about_bg1">
        <div class="bg1_con_box">
            <div class="bg1_con">
                <h2>关于我们</h2>
                <span>ABOUT US</span>
                <p>工业大数据交易中心是为工业制造行业提供数据交易,预处理交易，算法交易及大数据分析，平台开发，技术服务，数据定价，数据金融，交易监督等综合服务的机构，中心并基于数据金融资产化方向提供撮合，买卖，典当，融资，抵押，贷款等多种合作模式，为工业制造行业各经济主体盘活数据存量资源提供全面的解决方案。
                </p>
                <a href="javascript:;"></a>
            </div>
            <div class="nextbg"></div>
        </div>
    </div>
    <div class="wedo">
        <h2>我们能做什么</h2>
        <p>WHAT WE DO</p>
    </div>
    <div class="wedo_con">
        <div class="wedo_bg1"></div>
        <div class="servers">
            <h2>综合服务</h2>
            <p>我们为互联网金融+大数据在行业垂直市场领域提供大数据交易，预处理交易，算法交易及大数据分析，平台开发，技术服务，数据定价，数据金融，交易监督等综合服务</p>
        </div>
        <div class="col_bg"></div>
        <div class="solution">
            <h2>解决方案</h2>
            <p>基于数据金融资产化方向提供撮合，买卖，典当，融资，抵押，贷款等多种合作模式，为工业制造行业各经济主体盘活数据存量资源提供全面的解决方案。</p>
        </div>
        <div class="solution_bg">
        </div>
        <div class="next_bg"></div>
        <div class="bg3">
        </div>
        <div class="matching">
            <h2>实施匹配</h2>
            <p>各类经济主体均可登录平台，注册成为会员，上传数据信息，由平台通过大数据技术进行计算和匹配，实时寻找数据流转变现的各类途径渠道和解决方案。</p>
        </div>
    </div>
    <div class="con-2">
        <div class="con-2_bg1">
            <div class="con-2_nextbg"></div>
            <div class="operation">
            	<h2>操作简单&nbsp;省心无忧</h2>
            	<p>平台数据的撮合，许可，交易非常简单</p>
            </div>

            <div class="dot"></div>
            <div class="about_btn">
        <div class="about_chose">
            <a href="javascript:;" style="margin:0">免费发布</a>
            <a href="javascript:;">审查认证</a>
            <a href="javascript:;">双方沟通</a>
            <a href="javascript:;">托管支持</a>
        </div>

        <div class="next_line"></div>
        <div class="trading">
        	<h2>交易详解</h2>
        	<p>平台数据的撮合，许可交易非常简单：双方把上述信息免费发布并委托给本平台后双方通过平台联系和沟通；</p>
        	<p>平台则负责双方撮合、许可、交易过程中的数据项目信息真实性确认、竞价支持、评估支持、征信支持、法律支持等；</p>
        	<p>撮合、许可，交易后的资金托管支持、支付安全支持、投资理财支持等等，并收取一定的佣金。</p>
        </div>
         <div class="start_box">
        	<a th:href="@{/datamart}" class="start">开始交易</a>
  			  </div>

    </div>
        </div>
        <div class="con-2_bg2">
        <div class="con-2_bg2_box floating">
            <div class="con-2_left">
                <a href="javascript:;">
                    如果您有任何疑问，请与我们联系
                </a>
                <p>电话：0571-22872851</p>
            </div>
            <div class="con-2_mid">
                <a href="javascript:;">
                    如想与我们建立商务合作关系
                </a>
                <p>邮箱：qt@qtbigdata.com</p>
            </div>
            <div class="con-2_right">
                <a href="javascript:;">
                    其它联系方式
                </a>
                <p>QQ：2142920794</p>
            </div>
            <div class="clear"></div>
            <div class="line"></div>
            <p class="address">
                <i></i>
                浙江省杭州市萧山科技城传化科创大厦B座5楼
            </p>
            <p>
                <img src="/pages/common/images/qr_code.png" alt=""/>
            </p>
            <p class="btn_p">
                <a href="javascript:;">用户协议</a>
                &nbsp;&nbsp;/&nbsp;&nbsp;
                <a href="javascript:;">意见反馈</a>
            </p>
        </div>

      </div>
    </div>

    </div>
    <!--  <div class="about_btn">
        <div class="about_chose">
            <a href="javascript:;" style="margin:0">免费发布</a>
            <a href="javascript:;">审查认证</a>
            <a href="javascript:;">双方沟通</a>
            <a href="javascript:;">托管支持</a>
        </div>
    </div>
    <div class="about_bg3"></div>
    <div class="start_box">
        <a href="javascript:;" class="start">开始交易</a>
    </div>
    <div class="about_bg4"></div> -->

    <!-- 页脚 -->
    <footer th:replace="layout/footer" />
    <!-- 页脚结束 -->
</body>

</html>
