<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>首页 | 钱塘大数据交易中心</title>
        <div th:replace="layout/top" /></div>
        <link rel="stylesheet" href="/pages/common/css/nivo-slider.css" />
        <link rel="stylesheet" href="/pages/common/css/index.css" />
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="/assets/global/plugins/ladda/ladda.min.css" rel="stylesheet" type="text/css">
        <!-- END PAGE LEVEL PLUGINS -->


    </head>
    <body >
        <!--  页头 -->
        <div th:replace="layout/header" /></div>
        <!-- 页头结束 -->

        <!-- banner图开始-->
        <div id="wrapper">
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    <a class="banner10">

                        <img th:src="@{/pages/common/images/banner10.jpg}" data-thumb="/pages/common/images/banner10.jpg" alt="" />
                        <i class="knowmore" onclick="location.href='/datamart';"></i>
                        <b th:href="@{/datamart}" class="knowmore2">加载更多</b>
                        <!--<div class="cartoon_one">
                            <img src="/pages/common/images/index_bannebr1.png" alt="">
                        </div>

                        <div>
                            <img src="/pages/common/images/index_banner2.png" alt="" class="cartoon_two">
                        </div>-->

                    </a>
                    <a>
                        <img th:src="@{/pages/common/images/banner20.jpg}" data-thumb="/tradecenter/images/banner1.jpg" alt="" />
                        <i class="joinus" onclick="location.href='/institution/add';"></i>
                    </a>

                </div>
            </div>

            <!--轮播表单开始-->
            <div class="navinput">
                <p class="navtop">
                    <a href="javascript:;" data-attr="dataneed" class="active"> 数据需求<i></i>  </a>
                    <a href="javascript:;" data-attr="business"> 商务合作 <i></i> </a>
                </p>
                <form action="/api/feedback" class="dataneed active" method="post" id="feedback-form">
                    <input type="hidden" value="1" name="feedbackType">
                    <div class="navmin">
                        <div class="floating needms">
                            <span class="lf">需求描述 : </span>
                            <textarea name="content" class="textarea_control lf" placeholder="  简单描述您的数据需求"></textarea>
                        </div>
                        <div class="floating needms">
                            <span class="lf">联系QQ : </span>
                            <input type="text" class="relationyx" name="qq" placeholder="请填写您的QQ">
                        </div>
                        <button type="submit" class="needsubmit ladda-button" data-style="slide-right">
                            提交
                        </button>
                    </div>
                </form>
                <form action="/api/feedback" class="business " method="post" id="feedback-business-form">
                    <input type="hidden" value="2" name="feedbackType">
                    <div class="navmin">
                        <div class="floating needms">
                            <span class="lf">合作需求 : </span>
                            <textarea name="content" class="textarea_control lf"></textarea>
                        </div>
                        <div class="floating needms">
                            <span class="lf">联系QQ : </span>
                            <input type="text" class="relationyx" name="qq" placeholder="请填写您的QQ">
                        </div>
                        <button type="submit" class="needsubmit ladda-button" data-style="slide-right">
                            提交
                        </button>
                    </div>
                </form>

            </div>
            <!--轮播表单结束-->
            <!--banner了解更多按钮开始-->

            <!--banner了解更多按钮结束-->



            <!--已登录  右侧悬浮框-->
            <div class="positiondata stremindex" th:if="${user}">
                <!--是数据服务商-->
                <a  href="javascript:;" onclick="infoNewModel3(this)" th:if="${user.infoNewModel}"><em></em>入驻数据服务商</a>
                <!--不是数据服务商-->
                <a  href="/usercenter/add/person" th:if="!${user.infoNewModel}"><em></em>入驻数据服务商</a>
            </div>
            <!--未登录  右侧悬浮框-->
            <div class="positiondata stremindex" th:unless="${user}">
                <a  href="javascript:;"  onclick="loginShow(this)"  ><em></em>入驻数据服务商</a>
            </div>

            <div class="positiondata stremindex2">
                <a  href="http://wpa.qq.com/msgrd?v=3&uin=3475528455&site=&menu=yes"><em></em>在线客服</a>
            </div>
        </div>
        <!--banner结束-->

        <!--工业数据开始-->
        <div class="industrial_data">
            <h2 class="intitle"><i></i>  工业数据 <span >Industry Data</span>  </h2>
            <ul class="databox intitle2">
                <li class="databox_not"><img src="/pages/common/images/index_03.png" class="boximg" alt=""/></li>

                <li>
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>研发设计</P>
                        <span class="box_bot"></span>
                        <p class="box_shade active"></p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>生产制造</P>
                        <p class="box_shade"></p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>工业产品</P>
                        <p class="box_shade"></p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>物流运输</P>
                        <p class="box_shade"></p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>物联网</P>
                        <p class="box_shade"></p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>行业综合</P>
                        <p class="box_shade"></p>
                    </a>
                </li>
            </ul>
        </div>
        <!--工业数据结束-->
        <!-- 关联数据开始-->
        <div class="relevance_data">
            <h2 class="intitle"><i></i>  关联数据 <span >Associated Data</span>  </h2>
            <ul class="relevancebox">
                <div class="databox_not lf"><img src="/pages/common/images/index_06.png"  class="boximg" alt=""/></div>

                <li class="bortop borleft ">
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>社交网络</P>
                        <p class="sum">累计交易:￥1000.0</p>
                        <span class="new_box"></span>
                        <p class="new_shade active"></p>
                    </a>
                </li>
                <li class="bortop">
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>金融财经</P>
                        <p class="sum">累计交易:￥1000.0</p>
                        <p class="new_shade"></p>
                    </a>
                </li>
                <li class="bortop">
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>电子商务</P>
                        <p class="sum">累计交易:￥1000.0</p>
                        <p class="new_shade"></p>
                    </a>
                </li>
                <li class="bortop">
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>产业数据</P>
                        <p class="sum">累计交易:￥1000.0</p>
                        <p class="new_shade"></p>
                    </a>
                </li>
                <li class="borleft">
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>交通出行</P>
                        <p class="sum">累计交易:￥1000.0</p>
                        <p class="new_shade"></p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>健康医疗</P>
                        <p class="sum">累计交易:￥1000.0</p>
                        <p class="new_shade"></p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>科研分析</P>
                        <p class="sum">累计交易:￥1000.0</p>
                        <p class="new_shade"></p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>生活服务</P>
                        <p class="sum">累计交易:￥1000.0</p>
                        <p class="new_shade"></p>
                    </a>
                </li>
                <li  class="borleft">
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>企业征信</P>
                        <p class="sum">累计交易:￥1000.0</p>
                        <p class="new_shade"></p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>社会服务</P>
                        <p class="sum">累计交易:￥1000.0</p>
                        <p class="new_shade"></p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>新闻咨询</P>
                        <p class="sum">累计交易:￥1000.0</p>
                        <p class="new_shade"></p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/datamart}">
                        <P></P>
                        <P>教育科研</P>
                        <p class="sum">累计交易:￥1000.0</p>
                        <p class="new_shade"></p>
                    </a>
                </li>
            </ul>
        </div>
        <!--关联数据结束-->
        <!--爬虫市场开始-->
        <div class="reptile_data">
            <h2 class="intitle"><i></i>  爬虫市场 <span >Crawler Market</span>  </h2>
            <ul class="datamart">
                <li class="databox_not"><img src="/pages/common/images/index_08.png"  class="boximg" alt=""/></li>
                <li class="rightnone bottomnone">
                    <a th:href="@{/crawlers}">
                        <P></P>
                        <P>社交网站</P>
                        <p>共有7698条规则</p>
                    </a>
                </li>
                <li class="rightnone bottomnone">
                    <a th:href="@{/crawlers}">
                        <P></P>
                        <P>金融网站</P>
                        <p>共有7698条规则</p>
                    </a>
                </li>
                <li class="bottomnone">
                    <a th:href="@{/crawlers}">
                        <P></P>
                        <P>行业网站</P>
                        <p>共有7698条规则</p>
                    </a>
                </li>
                <li class="rightnone">
                    <a th:href="@{/crawlers}">
                        <P></P>
                        <P>电商网站</P>
                        <p>共有7698条规则</p>
                    </a>
                </li>
                <li class="rightnone">
                    <a th:href="@{/crawlers}">
                        <P></P>
                        <P>生活网站</P>
                        <p>共有7698条规则</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/crawlers}">
                        <P></P>
                        <P>新闻网站</P>
                        <p>共有7698条规则</p>
                    </a>
                </li>
            </ul>
            <!--数据服务商开始-->
            <h2 class="intitle"><i class="servicem"></i>  合作伙伴 <span >Data Service</span>  </h2>
                <div class="servicebox">
                    <div class="com_slide">
                        <p class="com_list floating">
                            <a href="javascript:;" class="a1"></a>
                            <a href="javascript:;" class="a2"></a>
                            <a href="javascript:;" class="a3"></a>
                            <a href="javascript:;" class="a4"></a>
                            <a href="javascript:;" class="a5"></a>
                            <a href="javascript:;" class="a6"></a>
                            <a href="javascript:;" class="a7"></a>
                            <a href="javascript:;" class="a8"></a>
                            <a href="javascript:;" class="a9"></a>
                        </p>
                    </div>
                </div>
            <!--数据服务商结束-->
        </div>
        <!--爬虫市场结束-->
        <!-- 页脚 -->
        <footer th:replace="layout/footer"></footer>

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/jquery-validation/js/messages_zh.js" type="text/javascript"></script>

        <script src="/assets/global/plugins/ladda/spin.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/ladda/ladda.min.js" type="text/javascript"></script>

        <!-- END PAGE LEVEL PLUGINS -->

        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/assets/pages/scripts/form-validation-md.js" type="text/javascript"></script>

        <script src="/assets/global/plugins/jquery.nivo.slider.pack.js"></script>
        <script src="/pages/common/js/app.js" type="text/javascript"></script>

        <script>
            $(document).ready(function() {
                App.initIndex() ;
            });
            $(".cartoon_one").mouseover(function(){
                $(".cartoon_one").animate({"margin-top":"0px"},400);
                $(".cartoon_two").animate({"margin-top":"0px"},400);
            });
            $(".cartoon_one").mouseleave(function(){
                $(".cartoon_one").animate({"margin-top":"20px"},400);
                $(".cartoon_two").animate({"margin-top":"-20px"},400);
            });



        </script>
    </body>
</html>