<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>钱塘大数据交易中心</title>
        <div th:replace="layout/top" /></div>

        <link rel="stylesheet" href="/pages/common/css/index.css" />
    </head>
<body >
    <!--  页头 -->
    <div th:replace="layout/header" /></div>
    <!-- 页头结束 -->

    <!-- banner图开始-->
    <!--<div id="wrapper">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <a>
                    <img th:src="@{/tradecenter/images/banner1.jpg}" data-thumb="/tradecenter/images/banner1.jpg" alt="" />
                    <i class="knowmore" onclick="location.href='/datamart';"></i>
                </a>
                <a>
                    <img th:src="@{/tradecenter/images/banner2.jpg}" data-thumb="/tradecenter/images/banner1.jpg" alt="" />
                    <i class="joinus" onclick="location.href='/institution/add';"></i>
                </a>
            </div>
        </div>
    </div>-->
    <!--banner结束-->

    <!--工业数据开始-->
    <div class="industrial_data">
        <h2 class="intitle"><i></i>  工业数据 <span >Industry Data</span>  </h2>
        <ul class="databox">
            <li class="databox_not"><img th:src="@{/tradecenter/images/index_03.png}" class="boximg" alt=""/></li>

            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>研发设计</P>
                    <span class="box_bot"></span>
                    <p class="box_shade active"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>物流运输</P>
                    <p class="box_shade"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>生产制造</P>
                    <p class="box_shade"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>物联网</P>
                    <p class="box_shade"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>工业产品</P>
                    <p class="box_shade"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>行业综合</P>
                    <p class="box_shade"></p>
                </a>
            </li>

        </ul>
    </div>
    <!--工业数据结束-->


    <!-- 关联数据开始-->
    <div class="relevance_data">
        <h2 class="intitle"><i></i>  关联数据 <span >Associated Data</span>  </h2>
        <ul class="relevancebox">
            <li class="databox_not"><img th:src="@{/tradecenter/images/index_06.png}"  class="boximg" alt=""/></li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>社交网络</P>
                    <span class="new_box"></span>
                    <p class="new_shade active"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>金融财经</P>
                    <p class="new_shade"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>电子商务</P>
                    <p class="new_shade"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>产业数据</P>
                    <p class="new_shade"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>交通出行</P>
                    <p class="new_shade"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>健康医疗</P>
                    <p class="new_shade"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>科研分析</P>
                    <p class="new_shade"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>生活服务</P>
                    <p class="new_shade"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>企业征信</P>
                    <p class="new_shade"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>社会服务</P>
                    <p class="new_shade"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>新闻咨询</P>
                    <p class="new_shade"></p>
                </a>
            </li>
            <li>
                <a th:href="@{/datamart}">
                    <P></P>
                    <P>教育科研</P>
                    <p class="new_shade"></p>
                </a>
            </li>
        </ul>
    </div>

    <!--关联数据结束-->

    <!--爬虫市场开始-->
    <div class="reptile_data">
        <h2 class="intitle"><i></i>  爬虫市场 <span >Crawler Market</span>  </h2>
        <ul class="datamart">
            <li class="databox_not"><img th:src="@{/tradecenter/images/index_08.png}"  class="boximg" alt=""/></li>
            <li>
                <a th:href="@{/crawlers}">
                    <P></P>
                    <P>社交网站</P>
                    <p class="social_shade active"></p>
                </a>

            </li>
            <li>
                <a th:href="@{/crawlers}">
                    <P></P>
                    <P>金融网站</P>
                    <p class="social_shade"></p>
                </a>

            </li>
            <li>
                <a th:href="@{/crawlers}">
                    <P></P>
                    <P>行业网站</P>
                    <p class="social_shade"></p>
                </a>


            </li>
            <li>
                <a th:href="@{/crawlers}">
                    <P></P>
                    <P>电商网站</P>
                    <p class="social_shade"></p>
                </a>

            </li>
            <li>
                <a th:href="@{/crawlers}">
                    <P></P>
                    <P>生活网站</P>
                    <p class="social_shade"></p>
                </a>

            </li>
            <li>
                <a th:href="@{/crawlers}">
                    <P></P>
                    <P>新闻网站</P>
                    <p class="social_shade"></p>
                </a>

            </li>
        </ul>
        <!--数据服务商开始-->
        <h2 class="intitle"><i class="servicem"></i>  数据服务商 <span >Data Service</span>  </h2>
            <div class="servicebox">
                <div class="com_slide">
                    <p class="com_list floating">
                        <a href="javascript:;" class="a1"></a>
                        <a href="javascript:;" class="a2"></a>
                        <a href="javascript:;" class="a3"></a>
                        <a href="javascript:;" class="a4"></a>
                        <a href="javascript:;" class="a5"></a>
                        <a href="javascript:;" class="a6"></a>
                        <a href="javascript:;" class="a7"></a>
                        <a href="javascript:;" class="a8"></a>
                        <a href="javascript:;" class="a9"></a>
                    </p>
                </div>
            </div>
        <!--数据服务商结束-->
    </div>
    <!--爬虫市场结束-->


    <!-- 页脚 -->
    <footer th:replace="layout/footer"></footer>
    <!-- 页脚结束 -->

    <script src="/assets/global/plugins/jquery.nivo.slider.pack.js"></script>
    <script>
        nav(1);
        //合作关系往左移
        var cooperationTimer=null;
        var cooperationLeft=0;
        function cooperationMove(){
            cooperationLeft-=1;
            if(cooperationLeft==-207){
                cooperationLeft=0;
                $(".com_list").append($(".com_list>a:first-child"));
            }
            $(".com_list").css("left",cooperationLeft);
        };
        cooperationTimer=setInterval(cooperationMove,50);
        $(".com_slide").mouseenter(function(){
            clearInterval(cooperationTimer);
            cooperationTimer=null;
        });
        $(".com_slide").mouseleave(function(){
            cooperationTimer=setInterval(cooperationMove,50);
        });

        $('#slider').nivoSlider();
        $("#slider>a>i").mouseenter(function(){
            $(this).parent().addClass("hover");
        });
        $("#slider>a>i").mouseleave(function(){
            $(this).parent().removeClass("hover");
        });





    </script>
</body>
</html>