<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>发布数据商品</title>
    <div th:replace="layout/top"/>
    <link rel="stylesheet" href="/pages/common/css/imgCss/dropify.css">
    <link rel="stylesheet" href="/pages/common/css/ruleUploadForm.css" />
    <link rel="stylesheet" href="/pages/common/css/usercenter.css"/>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/assets/global/plugins/ladda/ladda.min.css" rel="stylesheet" type="text/css">
    <!-- END PAGE LEVEL PLUGINS -->
</head>
<body>
<!-- 页头-->
<div th:replace="layout/header" /></div>
<!--页头结束-->

<section class="main">
    <!-- 面包屑导航 -->
    <div class="header_nav">
        数据服务商
        <span class="gt">&gt;</span>
        <span class="active">发布数据商品</span>
    </div>

    <!-- 表单 -->
    <div class="main_content floating">
        <h2 class="form_title">发布数据商品</h2>
        <form class="trade_form" id="fromProduct" method="post" action="/api/product/add">
            <div class="form_group">
                <p class="group_title">
                    <b>数据名称</b> <i>*</i><span>5-50个字符</span>
                </p>
                <div class="form_control form-group">
                    <input type="text" class="large_input form-control" id="data_name" name="designation"/>
                </div>
            </div>

            <div class="form_group">
                <p class="group_title">
                    <b>数据简介</b> <i>*</i>
                </p>
                <div class="form_control form-group">
                    <input type="text" class="large_input form-control" id="data_resume" name="dataProfile"/>
                </div>
            </div>


            <div class="form_group">
                <p class="group_title">
                    <b>收费方式</b> <i>*</i>
                </p>
                <div class="form_control" id="Charge_mode">
                    <label><input type="radio" name="price" class="radio_input" value="1" checked="checked"/>免费</label>
                    <label><input type="radio" name="price" class="radio_input" value="2"/>收费</label>
                </div>
                <div id="price" style="display: none">
                    <div class="form_control">
                        <input type="number" class="small_input" id="market_price" value="0" name="marketPrice" placeholder="市场价："/>
                        <input type="number" class="small_input" id="rebate_price" value="0" name="price" placeholder="折扣价："/>
                    </div>
                    <div class="form_control">
                        <input type="number" class="small_input" id="child_price" value="0" name="itemPrice" placeholder="子文件价格："/>
                        <!--<input type="number" class="small_input" id="commission_price" name="commission_price" placeholder="佣金："/>-->
                    </div>
                </div>
            </div>


            <div class="form_group">
                <p class="group_title">
                    <b>数据类别</b> <i>*</i>
                </p>
                <div class="form_control form-group">
                    <select name="dataType" id="typeA" class="small_input form-control">


                    </select>
                    <select name="dataTypeSub" id="typeB" class="small_input form-control">
                        <option value="">请选择数据类别</option>
                    </select>
                </div>
            </div>


            <div class="form_group">
                <p class="group_title">
                    <b>数据规模</b> <i>*</i>
                </p>
                <div class="form_control form-group">
                    <input type="number"  class="large_input form-control" id="data_scale" style="width: 257px;" name="dataScale"/>
                    <span> &nbsp;条 </span>
                </div>
            </div>

            <div class="form_group">
                <p class="group_title">
                    <b>数据类型</b> <i>*</i>
                </p>
                <div class="form_control" id="data_type">
                    <label><input type="radio" name="dataStatus" class="radio_input" value="0" checked="checked"/>数据包</label>
                    <label><input type="radio" name="dataStatus" class="radio_input" value="1"/>API接口</label>
                    <label><input type="radio" name="dataStatus" class="radio_input" value="2"/>数据报告</label>
                </div>
            </div>

            <div class="form_group">
                <p class="group_title">
                    <b>数据来源</b> <i>*</i>
                </p>
                <div class="form_control" id="data_source">
                    <label><input type="radio" name="dataSrc" class="radio_input" value="0" checked="checked"/>个人</label>
                    <label><input type="radio" name="dataSrc" class="radio_input" value="1"/>企业</label>
                    <label><input type="radio" name="dataSrc" class="radio_input" value="2"/>政府</label>
                    <label><input type="radio" name="dataSrc" class="radio_input" value="3"/>组织机构</label>
                    <label><input type="radio" name="dataSrc" class="radio_input" value="4"/>互联网</label>
                </div>
            </div>


            <div class="form_group">
                <p class="group_title">
                    <b>上传数据</b> <i>*</i>
                </p>
                <div class="form_control floating uploader">
                    <input type="text" class="middle_input" id="data_file_path"  readonly/>
                    <a href="javascript:;" class="upload_a">上传<input type="file" id="data_file" class="uploadRuleFile"/></a>
                </div>
                <input type="hidden"  name="fileUrl" id="fileContent">
                <input type="hidden"  name="dataSize" id="fileSize">
                <div id="subFiles">

                </div>
            </div>

            <div class="form_group">
                <p class="group_title">
                    <b>上传图片</b> <i>*</i>
                </p>
                <div class="form_control" style="width: 50%">
                    <input type="file" name="uploadImg" id="input-file-now"  class="dropify fileImg" />
                </div>
                <input type="text" style="display:none;"  name="pic" id="imgContent">
            </div>

            <div class="form_group">
                <p class="group_title">
                    <b>数据描述</b> <i>*</i>
                </p>
                <div class="form_control form-group">
                    <textarea id="introduction" name="introduce" class="textarea_control form-control"></textarea>
                </div>
            </div>

            <!-- 页脚发布按钮 -->
            <div class="form_btm">
                <!--<input type="submit" data-loading-text="Loading..." class="submit_control ladda-button" data-style="expand-left" value="发布"/>-->
                <button type="submit" class="ladda-button" data-color="blue" data-style="expand-right" data-size="s" style="width: 80px">发布</button>

                <!--<button type="submit" data-loading-text="Loading..." class="submit_control ladda-button" data-style="expand-left">
                    <span class="ladda-label">发布</span>
                </button>-->
            </div>
        </form>
        <!-- 右侧注意事项 -->
        <div class="attention">
            <p class="attention_title">
                <i>!</i>注意事项
            </p>
            <p>
                1、上传内容必须保证与详情描述相一致，确保关键字段信息真实有效。如发生买卖纠纷，将以表单提交内容为准，解释权归平台所有。 <br><br>
                2、上传必须保证该内容无版权纠纷或已取得版权方授权，发布者为此承担所有责任，并承诺由此引发的所有纠纷均与平台无关。<br><br>
                3、内容不得包含任何有关公民个人隐私信息数据，包括但不限于手机号码，身份证，QQ号，微信号等身份唯一标识ID与信息。<br><br>
                4、内容不得涉及任何违法国家法律明文禁止的文字，图片，语音数据。包括淫秽色情暴力反党反政治言论等危害国家信息安全数据。<br><br>
                5、填写表单提交后就默认同意此5项条款，相关法律责任与本平台无关。

            </p>
        </div>
        <div class="clear"></div>
    </div>

</section>
<!--页脚-->
<footer th:replace="layout/footer"></footer>
<!--页脚结束-->
<script>
    $(function(){
        $(".databx").addClass("active");
    });

</script>

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery-validation/js/messages_zh.js" type="text/javascript"></script>

<script src="/assets/global/plugins/ladda/spin.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/ladda/ladda.min.js" type="text/javascript"></script>

<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/pages/scripts/form-validation-md.js" type="text/javascript"></script>
<script src="/pages/common/js/institution/dropify.min.js"></script>
<script src="/pages/common/js/custom-validation.js"></script>
<script src="/pages/common/js/fromCommon.js"></script>
<script src="/pages/common/js/institution/add-product.js"></script>



</body>
</html>