<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/tradecenter/images/qiantang.ico}" />
	<title>数据联盟</title>
	<!-- 引入header布局 -->
	<top th:replace="layout/top"></top>
	<!-- 页面自定义css、js  -->
	<meta name="keywords" content="钱塘大数据交易中心"/>
	<meta name="description" content="钱塘大数据交易中心 数据联盟"/>
	<link rel="stylesheet" th:href="@{/tradecenter/css/dataFedration.css}" />
</head>
<body >
	<!-- 页头-->
	<div th:replace="layout/header" /></div>
	<!--页头结束-->

	<!--banner图 -->
	<div class="banner">
		<p>
			<a class="joinus_btn" th:href="@{/institution/add}"></a>
		</p>
	</div>

	<!--主体-->
	<section class="fredation_main main">
		<p class="chose_menu floating">
			<span>服务范围&nbsp;&nbsp;：</span>
			<a th:class="${currentid} ? null : 'active'" data-id="0" >不限</a>
			<a th:each="val : ${typeModels}"  th:text="${val.name}" th:attr="data-id=${val.id}" th:class="${currentid} == ${val.id} ? 'active'">智能制造</a>

		</p>

		<ul class="prolist floating" id="institution_list">

		</ul>

		<!-- 分页开始 -->
		<div id="pageTool"></div>
		<!-- 分页结束 -->
	</section>
	<!--页脚-->
	<footer th:replace="layout/footer"></footer>
	<!--页脚结束-->
	<script th:src="@{/tradecenter/js/query.js}"></script>
	<script th:src="@{/tradecenter/js/paging.js}"></script>
	<script th:src="@{/tradecenter/js/pagedata.js}"></script>

	<!-- 联盟tpml模板 -->
	<script id="tmpl_institution" type="text/x-jquery-tmpl">
        {{each(i,prod) list}}
        <li>
			<a href="javascript:;" class="prolist_img">
				<img src="${prod.picture}" alt=""/>
			</a>
			<a href="javascript:;" class="list_title">${prod.designation}</a>
			<div class="prolist_fot">
				{{each(i,abc) prod.typeName}}
					<i></i>${abc.name}
				{{/each}}
			</div>
		</li>
        {{/each}}
    </script>
	<script th:inline="javascript">
		nav(4);
		// 页面请求参数
		var settings = {
			url: "/api/institution/info",            // 请求地址
			tmpl_id: "#tmpl_institution" ,     // jquery template 模板元素，如：#div_id 或 .class_name
			target: "#institution_list" ,       // 替换html元素，如：#div_id 或 .class_name
			pager_id: "#pageTool",           // 分页html元素标签
			params: [{key:"dataType",value:"" }],
			filter_elm:".chose_menu>a",   //筛选
		}
		// 初始化数据
		pageData.products(settings) ;

		pageData.filter(settings) ;
	</script>

</body>
</html>