<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>服务商主页2</title>
    <div th:replace="layout/top"/>
    <link rel="stylesheet" href="/pages/common/css/homepage2.css" />

</head>
<body>
<div class="serhead floating">
    <img src="../images/index_03.png" alt="" class="lf"/>
    <div class="lf sertitle">
        <p>钱塘大数据 <a class="serzy">自营</a> </p>
        <p class="serletter">
            <em></em>服务领域数据采集、数据预处理、数据挖掘、数据交易等技术服务
        </p>
    </div>


</div>
<div class="service_top">

    <div class="service_main floating">
        <ul class="sernum rt floating">
            <li>
                <p>6</p>
                <p>数据商品</p>
            </li>
            <li>
                <p>43</p>
                <p>爬虫规则商品</p>
            </li>
            <li>
                <p>22</p>
                <p>数据定制接单数</p>
            </li>
            <li>
                <p>33</p>
                <p>爬虫规则定制接单数</p>
            </li>
            <li class="oknum">
                <p><a>成交数 ( 笔 ) : </a><i>134</i></p>
                <p><a>交额 ( 元 ) : </a><i>￥76543.60</i></p>
            </li>
            <li class="relation">
                <p><a><em></em></a> <i>0571-22872851 </i></p>
                <p><i>和我联系</i></p>
            </li>
            <li class="serpeople">
                <p>关注</p>
                <p>已有 <i>7654</i> 人关注</p>
            </li>
        </ul>
    </div>


</div>

<div class="service_listall">
    <div class="service_list">
        <p class="serlist_title">
            <a href="javascript:;" class="active">商品列表</a>
            <a href="javascript:;">接单记录</a>
        </p>

        <p class="sername">
            <a href="javascript:;" class="active">数据商品</a>
            <a href="javascript:;">爬虫规则</a>
        </p>

        <!--被筛选框-->
        <div class="home_sx floating">
            <div class="repmain active floating lf">
                <a href="javascript:;" class="floating">
                    <img src="../images/reptile_10.png" alt="" class="lf"/>
                    <div class="lf reptexts">
                        <p class="main_title">淘宝-商品销量信息采集-多彩价格版</p>
                        <p class="main_text">采集字集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集段采集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集字段采集字采集字段采集</p>
                        <p class="main_min">
                            <span class="main_domain"><em></em>采集网站: www.hhhh.com</span>

                        </p>
                    </div>
                    <div class="rt priceright">
                        <p class="repprice">￥65.00</p>
                        <p class="reppeople">32人已购买</p>
                        <p class="repnow">立即购买</p>
                    </div>
                </a>
            </div>
            <div class="repmain  floating lf">
                <a href="javascript:;" class="floating">
                    <img src="../images/reptile_10.png" alt="" class="lf"/>
                    <div class="lf reptexts">
                        <p class="main_title">淘宝-商品销量信息采集-多彩价格版</p>
                        <p class="main_text">采集字集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集段采集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集字段采集字采集字段采集</p>
                        <p class="main_min">
                            <span class="main_domain"><em></em>采集网站: www.hhhh.com</span>

                        </p>
                    </div>
                    <div class="rt priceright">
                        <p class="repprice">￥65.00</p>
                        <p class="reppeople">32人已购买</p>
                        <p class="repnow">立即购买</p>
                    </div>
                </a>
            </div>
            <div class="repmain  floating lf">
                <a href="javascript:;" class="floating">
                    <img src="../images/reptile_10.png" alt="" class="lf"/>
                    <div class="lf reptexts">
                        <p class="main_title">淘宝-商品销量信息采集-多彩价格版</p>
                        <p class="main_text">采集字集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集段采集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集字段采集字采集字段采集</p>
                        <p class="main_min">
                            <span class="main_domain"><em></em>采集网站: www.hhhh.com</span>

                        </p>
                    </div>
                    <div class="rt priceright">
                        <p class="repprice">￥65.00</p>
                        <p class="reppeople">32人已购买</p>
                        <p class="repnow">立即购买</p>
                    </div>
                </a>
            </div>
            <div class="repmain  floating lf">
                <a href="javascript:;" class="floating">
                    <img src="../images/reptile_10.png" alt="" class="lf"/>
                    <div class="lf reptexts">
                        <p class="main_title">淘宝-商品销量信息采集-多彩价格版</p>
                        <p class="main_text">采集字集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集段采集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集字段采集字采集字段采集</p>
                        <p class="main_min">
                            <span class="main_domain"><em></em>采集网站: www.hhhh.com</span>

                        </p>
                    </div>
                    <div class="rt priceright">
                        <p class="repprice">￥65.00</p>
                        <p class="reppeople">32人已购买</p>
                        <p class="repnow">立即购买</p>
                    </div>
                </a>
            </div>


        </div>




    </div>
</div>




</body>
</html>