<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>服务商主页 | 钱塘数据交易中心</title>
    <div th:replace="layout/top"/>
    <link rel="stylesheet" href="/pages/common/css/homepage.css" />




    <!-- 页面数据加载 -->
    <script src="/pages/common/js/app.js" type="text/javascript"></script>
    <script src="/tradecenter/js/timeFormat.js" type="text/javascript"></script>
</head>
<body>
    <!-- 页头-->
    <div th:replace="layout/header" /></div>
    <!--页头结束-->
    <div class="bodys">
        <!-- 服务商信息 -->
        <div id="institution-container"></div>

        <div class="service_listall">
            <div class="service_list">
                <p class="serlist_title" id="tab-container">
                    <a th:href="@{/institution/home}+'/'+${id}+'/0'" th:class="${type == 0}?active">商品列表</a>
                    <a th:href="@{/institution/home}+'/'+${id}+'/1'" th:class="${type == 1}?active">定制列表</a>
                </p>
                <p class="sername tab-sub-container"  th:if="${type == 0}">
                    <a href="javascript:;" class="active" data-id="data" data-type="1">数据商品</a>
                    <a href="javascript:;" data-id="data" data-type="2">爬虫规则</a>
                </p>
                <p class="sername tab-sub-container" th:if="${type == 1}">
                    <a href="javascript:;" class="active" data-id="customized" data-type="1">数据定制</a>
                    <a href="javascript:;" data-id="customized" data-type="2" style="width: 110px;">爬虫规则定制</a>
                </p>
                <div id="loadding" style="text-align: center;"><img src="/pages/common/images/loadding1.gif"/></div>
                <div class="store_main floating" id="data-container"></div>
                <!-- 分页组件-->
                <div id="pageTool"></div>
            </div>
        </div>
    </div>

    <!-- 产品数据模板 -->
    <script id="tmpl_institution" type="text/x-jquery-tmpl">
        <div class="serhead  floating">
            <img src="${logo}?x-oss-process=image/resize,m_mfit,h_130,w_130,color_ffffff/format,png"  alt="" class="lf" onerror="this.src='/pages/common/images/error.png'"/>
            <div class="lf sertitle">
                <p>${name}{{if isSys == 1}}<a class="serzy">自营</a>{{/if}} </p>
                <p class="serletter">
                    <em></em>${designation}
                </p>
            </div>
        </div>
        <div class="service_top">
            <div class="service_main floating">
                <ul class="sernum rt floating">
                    <li>
                        <p>${countMap.productCount}</p>
                        <p>数据商品</p>
                    </li>
                    <li>
                        <p>${countMap.roleCount}</p>
                        <p>爬虫规则商品</p>
                    </li>
                    <li>
                        <p>${countMap.dataCustomCount}</p>
                        <p>数据定制数</p>
                    </li>
                    <li>
                        <p>${countMap.roleCustomCount}</p>
                        <p>爬虫规则定制数</p>
                    </li>
                    <li class="oknum">
                        <p><a>成交数 ( 笔 ) : </a><i>0</i></p>
                        <p><a>交额 ( 元 ) : </a><i>￥0.00</i></p>
                    </li>
                    <li class="relation">
                        <p><a><em></em></a> <i>
                        {{if institutionType == 1 && companyInfoModel}}
                            ${companyInfoModel.phone}
                        {{else personalInfoModel}}
                            ${personalInfoModel.phone}
                        {{else}}
                            -
                        {{/if}}</i></p>
                        <p><i>和我联系</i></p>
                    </li>
                    <li class="serpeople">
                        <p>关注</p>
                        <p>已有 <i>0</i> 人关注</p>
                    </li>
                </ul>
            </div>
        </div>

        <input type="hidden" value="${createId}" id="createId">

    </script>

    <!-- 数据商品模板 -->
    <script id="tmpl_products" type="text/x-jquery-tmpl">
        {{if list.length>0}}
        {{each(i, prod) list}}
            <div class="store_one">
                <img src="${prod.pic}" alt=""/>
                <h2><a href="/datamart/detail/${prod.id}" target="_blank">${prod.designation}</a></h2>
                <p class="sto_main">${prod.dataProfile}</p>
                <p class="store_small">
                    <span class="lf jtcx">${prod.typeName} | <i>${prod.dataScale}条</i> </span>
                    {{if prod.price === 0}}
                        <span class="rt mf" style="color: #26C281;">免费</span>
                    {{else}}
                        <span class="rt mf" style="color: #e7505a;">￥${prod.price}</span>
                    {{/if}}
                </p>
            </div>
        {{/each}}
        {{else}}
        暂无数据
        {{/if}}
    </script>

    <!-- 爬虫规则模板 -->
    <script id="tmpl_crawlersRules" type="text/x-jquery-tmpl">
        <link rel="stylesheet" href="/pages/common/css/homepage2.css" />
        {{if list.length>0}}
        {{each(i, rule) list}}
            <div class="repmain floating lf">
                <a href="/crawlers/detail/${rule.id}" class="floating" target="_blank">
                    <img src="${rule.logo}" alt="" class="lf"/>
                    <div class="lf reptexts">
                        <p class="main_title">${rule.name}</p>
                        <p class="main_text">${rule.introduction}</p>
                        <p class="main_min main_domain">
                            <em ></em>采集网站: ${rule.webSite}
                        </p>
                    </div>
                    <div class="rt priceright">
                        <p class="repprice">￥${$item._num(rule.price)}</p>
                        <p class="reppeople">${rule.buyCount}人已购买</p>
                        <p class="repnow">立即购买</p>
                    </div>
                </a>
            </div>
        {{/each}}
        {{else}}
        暂无数据
        {{/if}}
    </script>
    <!-- 数据定制模板 -->
    <script id="tmpl_data_custom" type="text/x-jquery-tmpl">
    <link rel="stylesheet" href="/pages/common/css/homepage3.css" />
    {{if list.length>0}}
    {{each(i,prod) list}}
        <div class="repmain  floating">
            <div class="lf reptexts">
                <p class="main_title"><a href="/customized/data/detail/${prod.id}">${prod.name}</a></p>
                <p class="main_text">${prod.dimension}</p>
                <p class="main_min">
                    <span >采集规模: <a class="main_domain">${prod.scale}条</a></span>
                    <span class="main_timeend"> <em></em> 截至倒计时 : <a>${$item._timeChange(prod.endTime)}</a></span>
                </p>
            </div>
            <div class="lf priceright">
                <p class="repprice">悬赏￥${$item._num(prod.price)}</p>
                <p class="reppeople">32人已接单</p>
                <p class="repnow">立即接单</p>
            </div>
        </div>
    {{/each}}
    {{else}}
    暂无数据
    {{/if}}
    </script>
    <!-- 爬虫规则定制数据模板 -->
    <script id="tmpl_role_custom" type="text/x-jquery-tmpl">
    <link rel="stylesheet" href="/pages/common/css/homepage4.css" />
    {{if list.length>0}}
    {{each(i,prod) list}}
        <div class="repmain active floating">
            <div class="lf reptexts">
                <p class="main_title"><a href="/customized/rule/detail/${prod.id}">${prod.name}</a></p>
                <p class="main_text">${prod.dimension}</p>
                <p class="main_min">
                    <span >采集规模: <a class="main_domain">${prod.scale} 条</a></span>
                    <span class="main_timeend"> <em></em> 截至倒计时 : <a>${$item._timeChange(prod.endTime)}</a></span>
                </p>
            </div>
            <div class="lf priceright">
                <p class="repprice">悬赏￥${$item._num(prod.price)}</p>
                <p class="reppeople">32人已接单</p>
                <p class="repnow">立即接单</p>
            </div>
        </div>
    {{/each}}
    {{else}}
    暂无数据
    {{/if}}
    </script>

    <script th:inline="javascript">
        jQuery(document).ready(function() {
            App.initInstitutionHome([[${id}]],[[${type}]]);
        });
    </script>

    <!--页脚-->
    <footer th:replace="layout/footer"></footer>
    <!--页脚结束-->
</body>
</html>