<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>服务商主页 | 钱塘数据交易中心</title>
    <div th:replace="layout/top"/>
    <link rel="stylesheet" href="/pages/common/css/homepage.css" />
</head>
<body>
    <!-- 页头-->
    <div th:replace="layout/header" /></div>
    <!--页头结束-->
    <div class="serhead floating">
        <img src="/pages/common/images/index_03.png" alt="" class="lf"/>
        <div class="lf sertitle">
            <p>钱塘大数据 <a class="serzy">自营</a> </p>
            <p class="serletter">
                <em></em>服务领域数据采集、数据预处理、数据挖掘、数据交易等技术服务
            </p>
        </div>
    </div>
    <div class="service_top">
        <div class="service_main floating">
            <ul class="sernum rt floating">
                <li>
                    <p>6</p>
                    <p>数据商品</p>
                </li>
                <li>
                    <p>43</p>
                    <p>爬虫规则商品</p>
                </li>
                <li>
                    <p>22</p>
                    <p>数据定制接单数</p>
                </li>
                <li>
                    <p>33</p>
                    <p>爬虫规则定制接单数</p>
                </li>
                <li class="oknum">
                    <p><a>成交数 ( 笔 ) : </a><i>134</i></p>
                    <p><a>交额 ( 元 ) : </a><i>￥76543.60</i></p>
                </li>
                <li class="relation">
                    <p><a><em></em></a> <i>0571-22872851 </i></p>
                    <p><i>和我联系</i></p>
                </li>
                <li class="serpeople">
                    <p>关注</p>
                    <p>已有 <i>7654</i> 人关注</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="service_listall">
        <div class="service_list">
            <p class="serlist_title">
                <a href="javascript:;" class="active">商品列表</a>
                <a href="javascript:;">接单记录</a>
            </p>
            <p class="sername">
                <a href="javascript:;" class="active">数据商品</a>
                <a href="javascript:;">接单记录</a>
            </p>
            <div class="store_main floating">
                <div class="store_one">
                    <img src="/pages/common/images/index_06.png" alt=""/>
                    <h2>滑动图解 | 过年率成时尚还是搭街坊哈萨克的合法客户端江苏的积分</h2>
                    <p class="sto_main">滑动图解 | 过年率成时尚还是搭街坊图解 | 过年率成时尚还是搭街坊哈图解 | 过年率成时尚还是搭街坊哈哈萨克的合法客户端江苏的积分</p>
                    <p class="store_small"><span class="lf jtcx">交通出行 | <i>78条</i> </span>  <span class="rt mf">免费</span></p>
                </div>
                <div class="store_one">
                    <img src="/pages/common/images/index_06.png" alt=""/>
                    <h2>滑动图解 | 过年率成时尚还是搭街坊哈萨克的合法客户端江苏的积分</h2>
                    <p class="sto_main">滑动图解 | 过年率成时尚还是搭街坊图解 | 过年率成时尚还是搭街坊哈图解 | 过年率成时尚还是搭街坊哈哈萨克的合法客户端江苏的积分</p>
                    <p class="store_small"><span class="lf jtcx">交通出行 | <i>78条</i> </span>  <span class="rt mf">免费</span></p>
                </div>
                <div class="store_one">
                    <img src="/pages/common/images/index_06.png" alt=""/>
                    <h2>滑动图解 | 过年率成时尚还是搭街坊哈萨克的合法客户端江苏的积分</h2>
                    <p class="sto_main">滑动图解 | 过年率成时尚还是搭街坊图解 | 过年率成时尚还是搭街坊哈图解 | 过年率成时尚还是搭街坊哈哈萨克的合法客户端江苏的积分</p>
                    <p class="store_small"><span class="lf jtcx">交通出行 | <i>78条</i> </span>  <span class="rt mf">免费</span></p>
                </div>
                <div class="store_one">
                    <img src="/pages/common/images/index_06.png" alt=""/>
                    <h2>滑动图解 | 过年率成时尚还是搭街坊哈萨克的合法客户端江苏的积分</h2>
                    <p class="sto_main">滑动图解 | 过年率成时尚还是搭街坊图解 | 过年率成时尚还是搭街坊哈图解 | 过年率成时尚还是搭街坊哈哈萨克的合法客户端江苏的积分</p>
                    <p class="store_small"><span class="lf jtcx">交通出行 | <i>78条</i> </span>  <span class="rt mf">免费</span></p>
                </div>
                <div class="store_one">
                    <img src="/pages/common/images/index_06.png" alt=""/>
                    <h2>滑动图解 | 过年率成时尚还是搭街坊哈萨克的合法客户端江苏的积分</h2>
                    <p class="sto_main">滑动图解 | 过年率成时尚还是搭街坊图解 | 过年率成时尚还是搭街坊哈图解 | 过年率成时尚还是搭街坊哈哈萨克的合法客户端江苏的积分</p>
                    <p class="store_small"><span class="lf jtcx">交通出行 | <i>78条</i> </span>  <span class="rt mf">免费</span></p>
                </div>
                <div class="store_one">
                    <img src="/pages/common/images/index_06.png" alt=""/>
                    <h2>滑动图解 | 过年率成时尚还是搭街坊哈萨克的合法客户端江苏的积分</h2>
                    <p class="sto_main">滑动图解 | 过年率成时尚还是搭街坊图解 | 过年率成时尚还是搭街坊哈图解 | 过年率成时尚还是搭街坊哈哈萨克的合法客户端江苏的积分</p>
                    <p class="store_small"><span class="lf jtcx">交通出行 | <i>78条</i> </span>  <span class="rt mf">免费</span></p>
                </div>
            </div>
        </div>
    </div>
    <!--页脚-->
    <footer th:replace="layout/footer"></footer>
    <!--页脚结束-->
    <script>
        nav(6);
    </script>


</body>
</html>