<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>数据服务商</title>
    <div th:replace="layout/top"/>

    <link rel="stylesheet" href="/pages/common/css/institutionindex.css"/>
</head>
<body>

<!-- 页头-->
<div th:replace="layout/header" /></div>
<!--页头结束-->


<!--最新-->
    <p class="sales">
        <a href="javascript:;" class="active">最新 <em></em><i></i> </a>
        <span></span>
        <a href="javascript:;">成交量 <em></em><i></i> </a>
        <span></span>
        <a href="javascript:;">数据量 <em></em><i></i> </a>
    </p>

    <div class="message_list floating">
        <div class="list_details lf">
            <a href="JavaScript:;">
                <img src="/pages/common/images/reptile_02.png" class="lf " alt=""/>
                <div  class="lf list_right">
                    <p>极鲸数据殿</p>
                    <p><em></em>服务领域</p>
                    <p>支持定制，代做采集规则，代采网页数据。主营规则：淘宝</p>
                    <span class="rjzy_btn"href="">进入主页</span>
                </div>
            </a>
        </div>
        <div class="list_details lf">
            <a href="JavaScript:;">
                <img src="/pages/common/images/reptile_02.png" class="lf " alt=""/>
                <div  class="lf list_right">
                    <p>极鲸数据殿</p>
                    <p><em></em>服务领域</p>
                    <p>支持定制，代做采集规则，代采网页数据。主营规则：淘宝</p>
                    <span class="rjzy_btn"href="">进入主页</span>
                </div>
            </a>
        </div>
        <em class="mainbottom"></em>
    </div>


<!--页脚-->
<footer th:replace="layout/footer"></footer>
<!--页脚结束-->
<script>
    nav(6);
</script>


</body>
</html>