<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>数据定制</title>
    <div th:replace="layout/top"/>

    <link rel="stylesheet" href="/pages/common/css/crawlerindex.css"/>
</head>
<body class="allindex">
<!--  页头 -->
<div th:replace="layout/header"></div>
<!-- 页头结束 -->

<!-- 内容 -->
<div>
    <img src="/pages/common/images/reptile_02.png" alt=""/>
</div>
<div class="reptile_all floating">
    <div class="reptile_left lf">
        <!--数据分类-->
        <div class="dataclassify">
            <div class="repclissify">
                <span class="datarep">数据分类 : </span>
                <a href="javascript:;" class="active" data-attr="sjall">全部</a>
                <a href="javascript:;" class="sjgy" data-attr="gysj">工业数据</a>
                <a href="javascript:;" data-attr="glsj">关联数据</a>
            </div>
            <div class="repdataall" >
                <a class="sjall"></a>
                <p class="gysj">
                    <a href="javascript:;">研发设计</a>
                    <a href="javascript:;">生产制造</a>
                    <a href="javascript:;">物联网</a>
                    <a href="javascript:;">工业产品</a>
                    <a href="javascript:;">物流运输</a>
                    <a href="javascript:;">行业综合</a>
                </p>
                <p class="glsj">
                    <a href="javascript:;">社交网络</a>
                    <a href="javascript:;">金融财经</a>
                    <a href="javascript:;">电子商务</a>
                    <a href="javascript:;">交通出行</a>
                    <a href="javascript:;">健康医疗</a>
                    <a href="javascript:;">科研分析</a>
                    <a href="javascript:;">生活服务</a>
                    <a href="javascript:;">产业数据</a>
                    <a href="javascript:;">社会服务</a>
                    <a href="javascript:;">教育科研</a>
                    <a href="javascript:;">企业征信</a>
                    <a href="javascript:;">新闻资讯</a>
                </p>

            </div>
        </div>

        <!--销量-->
        <p class="sales">
            <a href="javascript:;">销量 <em></em><i></i> </a>
            <span></span>
            <a href="javascript:;" class="active">最新 <em></em><i></i> </a>
            <span></span>
            <a href="javascript:;">价格 <em></em><i></i> </a>
            <span></span>
            <a href="javascript:;">最热 <em></em><i></i> </a>
        </p>

        <!--被筛选框-->
        <div class="remainall">
            <div class="repmain active floating">
                <div class="lf reptexts">
                    <p class="main_title"><a href="/customized/data/detail/1">淘宝-商品销量信息采集-多彩价格版</a></p>
                    <p class="main_text">采集字集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集段采集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集字段采集字采集字段采集</p>
                    <p class="main_min">
                        <span >采集规模: <a class="main_domain">4000条</a></span>
                        <span class="main_timeend"> <em></em> 截至倒计时 : <a> 19天23：25：00</a></span>
                    </p>
                </div>
                <div class="lf priceright">
                    <p class="repprice">￥65.00</p>
                    <p class="reppeople">32人已接单</p>
                    <p class="repnow">立即接单</p>
                </div>
            </div>
            <div class="repmain active floating">
                <div class="lf reptexts">
                    <p class="main_title"><a href="/customized/rule/detail/1">淘宝-商品销量信息采集-多彩价格版</a></p>
                    <p class="main_text">采集字集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集段采集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集字段采集字采集字段采集</p>
                    <p class="main_min">
                        <span >采集规模: <a class="main_domain">4000条</a></span>
                        <span class="main_timeend"> <em></em> 截至倒计时 : <a> 19天23：25：00</a></span>
                    </p>
                </div>
                <div class="lf priceright">
                    <p class="repprice">￥65.00</p>
                    <p class="reppeople">32人已接单</p>
                    <p class="repnow">立即接单</p>
                </div>
            </div>
            <div class="repmain active floating">
                <div class="lf reptexts">
                    <p class="main_title"><a href="/customized/rule/detail/1">淘宝-商品销量信息采集-多彩价格版 </a></p>
                    <p class="main_text">采集字集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集段采集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集字段采集字采集字段采集</p>
                    <p class="main_min">
                        <span >采集规模: <a class="main_domain">4000条</a></span>
                        <span class="main_timeend"> <em></em> 截至倒计时 : <a> 19天23：25：00</a></span>
                    </p>
                </div>
                <div class="lf priceright">
                    <p class="repprice">￥65.00</p>
                    <p class="reppeople">32人已接单</p>
                    <p class="repnow">立即接单</p>
                </div>
            </div>
            <div class="repmain active floating">
                <div class="lf reptexts">
                    <p class="main_title"><a href="/customized/rule/detail/1">淘宝-商品销量信息采集-多彩价格版 </a></p>
                    <p class="main_text">采集字集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集段采集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集字段采集字采集字段采集</p>
                    <p class="main_min">
                        <span >采集规模: <a class="main_domain">4000条</a></span>
                        <span class="main_timeend"> <em></em> 截至倒计时 : <a> 19天23：25：00</a></span>
                    </p>
                </div>
                <div class="lf priceright">
                    <p class="repprice">￥65.00</p>
                    <p class="reppeople">32人已接单</p>
                    <p class="repnow">立即接单</p>
                </div>
            </div>
            <div class="repmain active floating">
                <div class="lf reptexts">
                    <p class="main_title"><a href="/customized/rule/detail/1">淘宝-商品销量信息采集-多彩价格版</a></p>
                    <p class="main_text">采集字集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集段采集字段采集字段采集字段字段采集字段采集字段采集字字段采集字段采集字段采集字采集字段采集</p>
                    <p class="main_min">
                        <span >采集规模: <a class="main_domain">4000条</a></span>
                        <span class="main_timeend"> <em></em> 截至倒计时 : <a> 19天23：25：00</a></span>
                    </p>
                </div>
                <div class="lf priceright">
                    <p class="repprice">￥65.00</p>
                    <p class="reppeople">32人已接单</p>
                    <p class="repnow">立即接单</p>
                </div>
            </div>
        </div>
    </div>
    <div class="reptile_right rt">
        <img src="/pages/common/images/reptile_03.png" alt="" class="right_img"/>

        <img src="/pages/common/images/reptile_07.png" alt="" class="right_img"/>
    </div>
</div>
<script>
    nav(4);
    //数据分类
    $(".repclissify>a").click(function(){
        var shawbox=$(this).attr("data-attr");
        $(this).addClass("active").siblings(".active").removeClass("active");
        $("."+shawbox).show().siblings().hide();

    });
    //销量网站类型
    $(".sales>a").click(function(){
        $(this).addClass("active").siblings(".active").removeClass("active");
    });
</script>
<!-- 内容结束 -->

<!-- 页脚 -->
<footer th:replace="layout/footer" />
<!-- 页脚结束 -->
</body>
</html>