<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>发布爬虫规则 | 钱塘大数据交易中心</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <div th:replace="layout/top"/>
    <link rel="stylesheet" href="/pages/common/css/jquery.datetimepicker.css"/>
    <link rel="stylesheet" href="/pages/common/css/ruleUploadForm.css" />
    <link rel="stylesheet" href="/pages/common/css/usercenter.css"/>

</head>
<body>
<!-- 页头-->
<div th:replace="layout/header" /></div>
<!--页头结束-->
<section class="main">
    <!-- 面包屑导航 -->
    <div class="header_nav">
        爬虫规则定制
        <span class="gt">&gt;</span>
        <span class="active">发布需求</span>
    </div>

    <!-- 表单 -->
    <div class="main_content floating">
        <h2 class="form_title">发布需求 <span>爬虫规则定制</span> </h2>
        <form class="trade_form" id="fromData" action="/api/customized" method="post">
            <div class="form_group">
                <p class="group_title">
                    <b>规则名称</b> <i>*</i><span>5-50个字符</span>
                </p>
                <div class="form_control">
                    <input type="text" class="large_input" id="name" name="name"/>
                </div>
            </div>

            <div class="form_group">
                <p class="group_title">
                    <b>规则描述</b> <i>*</i>
                </p>
                <div class="form_control">
                    <textarea name="desc" id="describe" class="textarea_control rule_desc"></textarea>
                </div>
            </div>

            <div class="form_group">
                <p class="group_title">
                    <b>采集字段</b> <i>*</i><span>每个字段以 "，" 隔开</span>
                </p>
                <div class="form_control">
                    <input type="text" class="large_input" id="dimension" name="dimension"/>
                </div>
            </div>

            <div class="form_group">
                <p class="group_title">
                    <b>采集规模</b> <i>*</i><span>期望定制到的数据量</span>
                </p>
                <div class="form_control">
                    <input type="number" class="small_input" name="scale"/> 条
                </div>
            </div>

            <div class="form_group">
                <p class="group_title">
                    <b>数据类别</b> <i>*</i>
                </p>
                <div class="form_control">
                    <select id="typeA" class="small_input">

                    </select>
                    <select name="typeId" id="typeB" class="small_input">
                        <option value="">请选择数据类别</option>
                    </select>
                </div>
                <input type="text" name="serviceType" value="1" style="display:none;">
            </div>

            <div class="form_group">
                <div class="group_title">
                    <b>悬赏金额</b> <i>*</i><span> >=300元 </span> <div class="intro_tips"><span>?</span></div>
                </div>
                <div class="form_control reward_amount">
                    <input type="number" class="small_input" id="price" name="price"/> 元
                    <label><input type="checkbox" name="bargaining" id="bargaining" value="0" class="radio_input"/>接受议价</label>
                    <div  class="intro_tips"><span>?</span> <div class="intro_tips_content"><span class="form_arrow"></span> 什么是议价？</div></div>
                </div>
            </div>

            <div class="form_group">
                <p class="group_title">
                    <b>截止时间</b> <i>*</i><span>到期无人投稿将自动下架，可申请退回赏金</span>
                </p>
                <div class="form_control">
                    <input type="text" class="small_input about_time" id="endDate" name="endTime1"/>
                </div>
            </div>

            <div class="form_group">
                <p class="group_title">
                    <b>采集网站</b> <span>例如：http://www.qtbigdata.com</span>
                </p>
                <div class="form_control">
                    <input type="text" class="small_input" name="website" id="website"/>
                </div>
            </div>

            <div class="form_group">
                <p class="group_title">
                    <b>联系方式</b> <span>仅显示给接单的服务商</span>
                </p>
                <p class="group_sub_title">
                    <b>手机号码</b> <i>*</i>
                </p>
                <div class="form_control">
                    <input type="text" class="small_input" id="phone" name="phone"/>
                </div>
                <!--<div class="form_control">-->
                <!--<input type="text" class="code_input" />-->
                <!--<a href="javascript:;" class="get_phone_code">获取验证码</a>-->
                <!--</div>-->


                <p class="group_sub_title">
                    <b>联系QQ</b>
                </p>
                <div class="form_control">
                    <input type="text" id="qq" class="small_input" name="qq"/>
                </div>
            </div>

            <!-- 页脚发布按钮 -->
            <div class="form_btm submit">
                <!--<input type="submit" data-loading-text="Loading..." class="submit_control ladda-button" data-style="expand-left" value="发布"/>-->
                <button type="submit" id="submit-btn" class="ladda-button" data-color="blue" data-style="expand-right" data-size="s" style="width: 80px">发布</button>

                <!--<button type="submit" data-loading-text="Loading..." class="submit_control ladda-button" data-style="expand-left">
                    <span class="ladda-label">发布</span>
                </button>-->
            </div>
        </form>
        <!-- 右侧注意事项 -->
        <div class="attention">
            <p class="attention_title">
                <i>!</i>注意事项
            </p>
            <p>
                1、上传内容必须保证与详情描述相一致，确保关键字段信息真实有效。如发生买卖纠纷，将以表单提交内容为准，解释权归平台所有。 <br><br>
                2、上传必须保证该内容无版权纠纷或已取得版权方授权，发布者为此承担所有责任，并承诺由此引发的所有纠纷均与平台无关。<br><br>
                3、内容不得包含任何有关公民个人隐私信息数据，包括但不限于手机号码，身份证，QQ号，微信号等身份唯一标识ID与信息。<br><br>
                4、内容不得涉及任何违法国家法律明文禁止的文字，图片，语音数据。包括淫秽色情暴力反党反政治言论等危害国家信息安全数据。<br><br>
                5、填写表单提交后就默认同意此5项条款，相关法律责任与本平台无关。

            </p>

        </div>
        <div class="clear"></div>
    </div>
</section>

<!--页脚-->
<footer th:replace="layout/footer"></footer>
<!--页脚结束-->
<script>
    $(function(){
        $(".pacdz").addClass("active");
    });

</script>




<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery-validation/js/messages_zh.js" type="text/javascript"></script>

<script src="/assets/global/plugins/ladda/spin.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/ladda/ladda.min.js" type="text/javascript"></script>
<script src="/pages/common/js/jquery.datetimepicker.full.js"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/pages/scripts/form-validation-md.js" type="text/javascript"></script>
<script src="/pages/common/js/custom-validation.js"></script>
<script src="/pages/common/js/fromCommon.js"></script>
<script src="/pages/common/js/customized/publish-data.js"></script>
</body>
</html>