<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>概览 | 钱塘数据交易中心-个人中心</title>
    <div th:replace="layout/top"/>

    <link rel="stylesheet" href="/pages/common/css/usercenter.css"/>
    <!-- 页面数据加载 -->
    <script src="/pages/common/js/app.js" type="text/javascript"></script>
</head>

<body>
<!-- 页头-->
<div th:replace="layout/header" /></div>
<!--页头结束-->

<div class="cenAll">
    <div class="center_main floating">

        <!-- 个人中心菜单开始 -->
        <div th:replace="layout/sidebar" /></div>
        <!-- 个人中心菜单结束 -->

        <div class="center_right rt">
            <!-- 概览开始-->
            <div class="overview2 active">
                <ul class="view_top floating">
                    <li>
                        <h1>-</h1>
                        <p class="color">待付款</p>
                    </li>
                    <li>
                        <h1>-</h1>
                        <p>余额（元）</p>
                    </li>
                    <li>
                        <h1 class="allorders"></h1>
                        <p>订单</p>
                    </li>
                    <li>
                        <h1 class="allfabus"></h1>
                        <p>定制</p>
                    </li>
                </ul>
                <div>
                    <h2> <a href="/usercenter/buy/0" id="moreOrder" data-class="myorder">更多</a> 最新订单 </h2>
                    <table class="center_tb">
                        <thead>
                        <tr>
                            <td>类型</td>
                            <td>订单名称</td>
                            <td>价格</td>
                            <td>状态</td>
                            <td class="time_btn"> <!--<td class="time_btn nodefault">-->
                                时间
                                <i></i>
                                <i></i>
                            </td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <!--最新订单-->
                        <tbody id="order-container"></tbody>
                    </table>
                    <div id="loadding" style="text-align: center;"><img src="/pages/common/images/loadding1.gif"/></div>
                </div>
                <div>
                    <h2><a href="/usercenter/customized/0" id="morefabu" data-class="myrelease">更多</a>最新定制</h2>
                    <table class="center_tb">
                        <thead>
                        <tr>
                            <td>类型</td>
                            <td>定制名称</td>
                            <td>悬赏金</td>
                            <td>状态</td>
                            <td class="time_btn now">时间 <i></i>  <i></i> </td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <!--最新发布-->
                        <tbody id="customized-container"></tbody>
                    </table>
                    <div id="loadding1" style="text-align: center;"><img src="/pages/common/images/loadding1.gif"/></div>
                </div>
            </div>
            <!-- 概览结束-->
        </div>
    </div>
</div>

<!-- 概览最新订单模板 -->
<script id="tmpl_orders" type="text/x-jquery-tmpl">
{{if list.length > 0}}
    {{each(i,order) list}}
     <tr>
        {{if order.productType==1}}
        <td>条目</td>
        {{else}}
        <td>整包</td>
        {{/if}}
        <td>${$item._substr(order.orderSubject,18)}</td>
        <td>￥${$item._num(order.amount)}</td>
        {{if order.orderState==1}}
            <td class="nopaid">待支付</td>
            <td>${$item._date(order.addtime)}</td>
            <td>
                <a href="/selectOrderAndPay/${order.productId}/${order.productType}?order=4" class="gopay">去支付</a>
            </td>
        {{else order.orderState==2}}
             <td class="paid">已撤销</td>
             <td>${$item._date(order.addtime)}</td>
             <td> - </td>
        {{else order.orderState==3 }}
             <td class="paid">已支付</td>
            <td>${$item._date(order.addtime)}</td>
            <td>
                <a class="download" onclick="orderDownload('${order.orderNo}');">下载</a>
            </td>
        {{/if}}
    </tr>
    {{/each}}
{{else}}
     <tr>
        <td colspan="8" class="noline">
            <div class="nodata">
                <img src="/pages/common/images/none.png" alt=""/>
            </div>
        </td>
     </tr>
{{/if}}
</script>

<!-- 概览最新定制模板 -->
<script id="tmpl_customized" type="text/x-jquery-tmpl">
    {{if list.length>0}}
        {{each(i,prod) list}}
        <tr>
            <td>
                {{if prod.serviceType==1}}
                    爬虫规则
                {{else}}
                    数据产品
                {{/if}}
            </td>
            <td>
                ${$item._substr(prod.name,18)}
            </td>
            <td>￥${$item._num(prod.price)}</td>
            {{if prod.auditStatus==1 && prod.isUsed==1}}
                <td class="putaway"> 已上架</td>
            {{else prod.auditStatus==1 && prod.isUsed==0}}
                <td class="audting"> 未上架</td>
            {{else prod.auditStatus==0}}
                <td class="audting"> 待审核</td>
            {{else prod.auditStatus == 2}}
                 <td class="noaudit"> 审核未通过</td>
            {{/if}}
            <td> ${$item._date(prod.createTime)}</td>
            <td>
                <a class="gosee" href="javascript:;">撤销</a>
            </td>
        </tr>
        {{/each}}
    {{else}}
        <tr>
        <td colspan="8" class="noline">
            <div class="nodata">
                <img src="/pages/common/images/none.png" alt=""/>
            </div>
        </td>
     </tr>
    {{/if}}

</script>


<script th:inline="javascript">
    jQuery(document).ready(function() {
        App.initUserCenter([[${user.id}]]);
    });
</script>

<!--页脚-->
<footer th:replace="layout/footer"></footer>
<!--页脚结束-->

</body>
</html>