<div  id="head" xmlns:th="http://www.thymeleaf.org" >
<!-- 页头-->
<header class="floating top">
	<a class="lf qt_logo icon" th:href="@{/}"></a>
	<div class="rt head_search floating">
		<input type="text" placeholder="请输入查找内容" class="search_input lf"/>
		<a href="javascript:;"  class="search_btn rt">搜索</a>
	</div>
	<div class="head_fabu lf floating">
		<i class="lf icon"></i>
		<!--如果已登录-->
		<div  th:if="${user}">
			<div class="lf fabu_btns">
				<p>发布</p>
				<a th:href="@{/publish/customized/data}">数据定制</a>
				<a th:href="@{/publish/customized/rule}" >爬虫规则定制</a>
				<!--<a>数据发布</a>-->
			</div>
		</div>
		<!--如果未登录-->
		<div  th:unless="${user}">
			<div class="lf fabu_btns">
				<p>发布</p>
				<a href="javascript:;"  onclick="loginShow(this)">数据定制</a>
				<a href="javascript:;"  onclick="loginShow(this)">爬虫规则定制</a>
				<!--<a>数据发布</a>-->
			</div>
		</div>
	</div>
	<div class="head_fabu lf floating">
		<i class="lf icon bianxina"></i>
		<!--如果已登录-->
		<div th:if="${user}">
			<div class="lf fabu_btns">
				<p>变现</p>
				<a href="/institution/add/product">数据变现</a>
				<a href="/publish/crawlers" >规则变现</a>  <!--否  请申请认证服务商-->
				<!--<a>数据发布</a>-->
			</div>
		</div>

		<!--如果未登录-->
		<div  th:unless="${user}">
			<div class="lf fabu_btns">
				<p>变现</p>
				<a href="javascript:;"  onclick="loginShow(this)">数据变现</a>
				<a href="javascript:;"  onclick="loginShow(this)">规则变现</a>
				<!--<a>数据发布</a>-->
			</div>
		</div>

	</div>
</header>

<!--导航栏-->
<nav xmlns:th="http://www.thymeleaf.org">
	<div class="nav_con floating">
		<p class="nav_list nav_list1 lf">
			<a th:href="@{/}">首页</a>
			<a th:href="@{/datamart}">数据商城</a>
			<a th:href="@{/crawlers}">爬虫市场</a>
			<a th:href="@{/customized/data}">数据定制</a>
			<a th:href="@{/customized/rule}">爬虫规则定制</a>
			<a th:href="@{/institution}">数据服务商</a>
			<!--<a th:href="@{/about}">关于我们</a>-->
		</p>
		<!--如果已登录-->
		<div class="rt nav_haslogin floating" th:if="${user}">
			<a href="javascript:;" class="lf user_img">
				<img th:src="@{${user.head} ? ${user.head} : '/tradecenter/images/user_img.png'} " alt=""/>
			</a>
			<div class="lf user_center">
				<p class="user_name" th:text="${user.userName}">钱塘数据<i></i></p>
				<p class="nav_down">
					<a th:href="@{/usercenter}">个人中心</a>
					<a th:href="@{/logout}">退出登录</a>
				</p>
			</div>
			<input type="hidden" th:value="${user.id}" name="id" id="userId">
		</div>
		<!--如果未登录-->
		<div th:unless="${user}">
			<p class="rt nav_list nav_rt">
				<a href="javascript:;"  onclick="loginShow(this)">登录</a>
				<i>/</i>
				<a href="javascript:;"  onclick="registerShow(this)">注册</a>
			</p>
		</div>
	</div>

</nav>


<script>
    var userId=$("#userId").val();

	function nav(n){
		$(".nav_list1>a:nth-child("+n+")").addClass("active");
	}
	function fabuHover(n){
		$(".fabu_btns>a:nth-child("+n+")").addClass("active");
	}
</script>
<!--页头结束-->
	<!--悬浮框-->
	<!--<div class="lqb_slide">
		<div class="lqb_slk phone">
			<div class="box">
				<div class="vipTel">
					<p class="ogTel">0571-22872877</p>
					<p>(7×24小时为您服务)</p>
				</div>
			</div>
			<a href="javascript:;"></a>
		</div>
		<div class="lqb_slk QQ">
			<a href="http://wpa.qq.com/msgrd?v=3&uin=2142920794&site=&menu=yes" target="_blank"></a>
		</div>
		<div class="lqb_slk weixin">
			<div class="box box-wx"><img th:src="@{/tradecenter/images/qr_code.png}"></div>
			<a href="javascript:;"></a>
		</div>
	</div>-->
</div>


<!-- 登录弹框  -->
<div class="model" id="loginModel">
	<div class="model_content">
		<i class="model_delete" onclick="modelClose(this)">X</i>
		<h2 class="model_title">请先登录</h2>
		<form action="" id="loginForm" class="model_form">
			<p class="error_tip"><!--请输入您的账号--></p>
			<input type="text" placeholder="账号" name="userAccount" class="user_account">
			<input type="password" placeholder="密码" name="userPwd" class="user_pwd">
			<a href="javascript:;" id="loginSubmit" class="form_submit">登录</a>
		</form>
		<div class="model_bottom floating">
			<!--<a href="javascript:;" class="lf" onclick="findPwdShow()">忘记密码？</a>-->
			<p class="rt">没有注册？<a href="javascript:;" onclick="registerShow()">注册</a></p>
		</div>
	</div>
</div>
<!-- 登录弹框结束  -->
<!-- 注册弹框  -->
<div class="model" id="registerModel">
	<div class="model_content">
		<i class="model_delete" onclick="modelClose(this)">X</i>
		<h2 class="model_title">注册</h2>
		<form action="" id="registerForm" class="model_form">
			<p class="error_tip"><!--请输入您的手机号--></p>
			<input type="text" placeholder="请输入您的手机号" name="userPhone" class="user_phone">
			<label class="code_lab">
				<input type="text" placeholder="请输入验证码" maxlength="4" name="verifyCode" class="phone_code">
				<a href="javascript:;" class="getCode" onclick="getPhoneCode('#registerModel ')">获取验证码</a>
			</label>
			<input type="password" placeholder="请输入新密码" name="userPwd" class="user_pwd user_pwd3">
			<input type="password" placeholder="请再次输入新密码" name="userPwd2" class="user_pwd user_pwd2">
			<label>
				<input type="checkbox" name="agreement" class="agreement">
				我已阅读并同意
				<a href="javascript:;" class="protocol">《钱塘用户注册协议》</a>
			</label>
			<a href="javascript:;" id="registerSubmit" class="form_submit">注册</a>
		</form>
		<div class="model_bottom">
			已经注册？<a href="javascript:;" onclick="loginShow()">登录</a>
		</div>
	</div>
</div>
<!-- 注册弹框结束  -->
<!-- 找回密码弹框  -->
<div class="model" id="findPwdModel">
	<div class="model_content">
		<i class="model_delete" onclick="modelClose(this)">X</i>
		<h2 class="model_title">找回密码</h2>
		<form action="" id="findPwdForm" class="model_form">
			<p class="error_tip">请输入您的手机号</p>
			<input type="text" placeholder="请输入您的手机号" name="userPhone" class="user_phone">
			<label class="code_lab">
				<input type="text" placeholder="请输入验证码" maxlength="4" name="verifyCode" class="phone_code">
				<a href="javascript:;" class="getCode" onclick="getPhoneCode('#findPwdModel ')">获取验证码</a>
			</label>
			<input type="password" placeholder="请输入新密码" name="userPwd" class="user_pwd">
			<input type="password" placeholder="请再次输入新密码" name="userPwd2" class="user_pwd user_pwd2">
			<a href="javascript:;" id="findPwdSubmit" class="form_submit">确定</a>
		</form>
		<div class="model_bottom">
			<a href="javascript:;" onclick="loginShow()">返回登录</a>
		</div>
	</div>
</div>
<!-- 找回密码弹框结束  -->
<script src="/pages/common/js/login.js"></script>


































