<div  id="head">
<!-- 页头-->
<header xmlns:th="http://www.thymeleaf.org"  class="floating top">
	<a class="lf qt_logo icon" th:href="@{/}"></a>
	<div class="rt head_search floating">
		<input type="text" placeholder="请输入查找内容" class="search_input lf"/>
		<a href="javascript:;"  class="search_btn rt">搜索</a>
	</div>
	<div class="head_fabu  floating">
		<i class="lf icon"></i>
		<div class="lf fabu_btns">
			<p>发布</p>
			<a th:href="@{/demand/buy/add}">需求发布</a>
			<a th:href="@{/institution/add}">加盟服务</a>
			<!--<a>数据发布</a>-->
		</div>

	</div>
</header>

<!--导航栏-->
<nav xmlns:th="http://www.thymeleaf.org">
	<div class="nav_con floating">
		<p class="nav_list nav_list1 lf">
			<a th:href="@{/}">首页</a>
			<a th:href="@{/datamart}">数据商城</a>
			<a th:href="@{/demand}">数据众包</a>
			<a th:href="@{/fedration}">数据联盟</a>
			<a th:href="@{/about}">关于我们</a>
		</p>
		<!--如果已登录-->
		<div class="rt nav_haslogin floating" th:if="${user}">
			<a href="javascript:;" class="lf user_img">
				<img th:src="@{${user.head} ? ${user.head} : '/tradecenter/images/user_img.png'} " alt=""/>
			</a>
			<div class="lf user_center">
				<p class="user_name" th:text="${user.userName}">钱塘数据<i></i></p>
				<p class="nav_down">
					<a th:href="@{/usercenter}">个人中心</a>
					<a th:href="@{/logout}">退出登录</a>
				</p>
			</div>
			<input type="hidden" th:value="${user.id}" name="id" id="userId">
		</div>
		<!--如果未登录-->
		<div th:unless="${user}">
			<p class="rt nav_list nav_rt">
				<a th:href="@{/login}">登录</a>
				<i>/</i>
				<a th:href="@{/register}">注册</a>
			</p>
		</div>
	</div>

</nav>

<script th:src="@{/tradecenter/js/layer.js}"></script>
<script>
    var userId=$("#userId").val();

	function nav(n){
		$(".nav_list1>a:nth-child("+n+")").addClass("active");
	}
	function fabuHover(n){
		$(".fabu_btns>a:nth-child("+n+")").addClass("active");
	}
</script>
<!--页头结束-->
	<div class="lqb_slide">
		<div class="lqb_slk phone">
			<div class="box">
				<div class="vipTel">
					<p class="ogTel">0571-22872877</p>
					<p>(7×24小时为您服务)</p>
				</div>
			</div>
			<a href="javascript:;"></a>
		</div>
		<div class="lqb_slk QQ">
			<a href="http://wpa.qq.com/msgrd?v=3&uin=2142920794&site=&menu=yes" target="_blank"></a>
		</div>
		<div class="lqb_slk weixin">
			<div class="box box-wx"><img th:src="@{/tradecenter/images/qr_code.png}"></div>
			<a href="javascript:;"></a>
		</div>
	</div>
</div>
