<div  id="head">
<!-- 页头-->
<header xmlns:th="http://www.thymeleaf.org"  class="floating top">
	<a class="lf qt_logo icon" th:href="@{/}"></a>
	<div class="rt head_search floating">
		<input type="text" placeholder="请输入查找内容" class="search_input lf"/>
		<a href="javascript:;"  class="search_btn rt">搜索</a>
	</div>
	<div class="head_fabu  floating">
		<i class="lf icon"></i>
		<div class="lf fabu_btns">
			<p>发布</p>
			<a>数据发布</a>
			<a th:href="@{/demand/buy/add}">需求发布</a>
			<a href="/joinservice">加盟服务</a>
		</div>
	</div>
</header>

<!--导航栏-->
<nav xmlns:th="http://www.thymeleaf.org">
	<div class="nav_con floating">
		<p class="nav_list lf">
			<a th:href="@{/}" class="active">首页</a>
			<a th:href="@{/datamart}">数据商城</a>
			<a th:href="@{/demand}">需求大厅</a>
			<a th:href="@{/fedration}">数据联盟</a>
			<a th:href="@{/about}">关于我们</a>
		</p>
		<!--如果未登录-->
	  <!--  <p class="rt nav_list nav_rt">
			<a href="javascript:;">登录</a>
			<i>/</i>
			<a href="javascript:;">注册</a>
		</p>-->
		<!--如果已登录-->
		<div class="rt nav_haslogin floating">
			<a href="javascript:;" class="lf user_img">
				<img th:src="@{/tradecenter/images/user_img.png}" alt="" onerror="this.src='/tradecenter/images/user_img.png'"/>
			</a>
			<div class="lf user_center">
				<p class="user_name">钱塘大数据<i></i></p>
				<p class="nav_down">
					<a th:href="@{/usercenter}">个人中心</a>
					<a href="javascript:;">退出登录</a>
				</p>
			</div>
		</div>

	</div>
</nav>
<script>
    $(".nav_list>a").removeClass("active");

	function nav(n){
		$(".nav_list>a:nth-child("+n+")").addClass("active");
	}
</script>
<!--页头结束-->
</div>
