<div class="center_left lf" xmlns:th="http://www.thymeleaf.org">
    <div class="headbg">
        <a>
            <img class="headpic" th:src="@{${user.head} ? ${user.head}+'?x-oss-process=image/resize,m_mfit,h_130,w_130,color_ffffff/format,png' : '/pages/common/images/user_img.png'}" alt=""/>
        </a>
        <p class="pername "><a th:text="${user.userName} ">三生万物</a></p>
        <!--<p class="pername perphone"><a th:text="${user.phone}"></a></p>-->

        <p class="perdata perdata2" th:if="${user.infoNewModel == null or user.infoNewModel.auditStatus != 1}">
            <em class="noperdata"></em>您还不是数据服务商
        </p>

        <p class="perdata " th:if="${user.infoNewModel != null and user.infoNewModel.auditStatus == 1}">
            <em></em> 服务商：<a th:href="@{/institution/home/}+${user.infoNewModel.id}" th:text="${user.infoNewModel.name}"></a>
        </p>
    </div>


    <ul class="pereach lf floating" id="page-sidebar-menu">
        <li data-class="overview"  class="overview"><a href="/usercenter"><span></span> 概览 <b></b>  </a></li>
        <li data-class="persinfo" class="persinfo"><a href="/usercenter/person"><span></span> 个人信息 <b></b> </a></li>
        <!--<li data-class="myaccount" class="account"><a href="/usercenter/account"><span></span> 我的账户 <b></b> </a></li>-->
        <li data-class="myorder" class="myorder"><a href="/usercenter/buy/0"><span></span> 我的购买订单 <b></b>  </a></li>
        <li data-class="myrelease" class="myrelease"><a href="/usercenter/customized/0"><span></span> 我发布的定制 <b></b> </a></li>
        <li data-class="dataservice" class="dataservice"  th:if="!${user.infoNewModel}"><a href="/usercenter/add/person"><span></span> 成为数据服务商 <b></b> </a></li>
        <li data-class="dataservice" class="dataservice"  th:if="${user.infoNewModel != null and user.infoNewModel.auditStatus == 0 and user.infoNewModel.institutionType == 2}">
            <a href="/usercenter/add/person"><span></span> 成为数据服务商 <b></b> </a>
        </li>
        <li data-class="dataservice" class="dataservice"  th:if="${user.infoNewModel != null and user.infoNewModel.auditStatus == 2 and user.infoNewModel.institutionType == 2}">
            <a href="/usercenter/add/person"><span></span> 成为数据服务商 <b></b> </a>
        </li>
        <li data-class="dataservice" class="dataservice"  th:if="${user.infoNewModel != null and user.infoNewModel.auditStatus == 0 and user.infoNewModel.institutionType == 1}">
            <a href="/usercenter/add/company"><span></span> 成为数据服务商 <b></b> </a>
        </li>
        <li data-class="dataservice" class="dataservice"  th:if="${user.infoNewModel != null and user.infoNewModel.auditStatus == 2 and user.infoNewModel.institutionType == 1}">
            <a href="/usercenter/add/company"><span></span> 成为数据服务商 <b></b> </a>
        </li>

        <li th:if="${user.infoNewModel != null and user.infoNewModel.auditStatus ==1}" class="sidebarnone"></li>
        <li th:if="${user.infoNewModel != null and user.infoNewModel.auditStatus ==1}" data-class="publich" class="publich"><a href="/usercenter/publich/0"><span></span> 我的发布的商品 <b></b> </a></li>
        <li th:if="${user.infoNewModel != null and user.infoNewModel.auditStatus ==1}" data-class="received" class="received"><a href="/usercenter/received/0"><span></span> 已接单的定制 <b></b> </a></li>
    </ul>
</div>

<style>
    .ui-paging-container li.ui-paging-toolbar { display: none; }
</style>

<script>
    function nav(n){
        $(".pereach>li."+n).addClass("active");
    }
</script>