<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>已购买的商品 | 钱塘数据交易中心-个人中心</title>
    <div th:replace="layout/top"/>

    <link rel="stylesheet" href="/pages/common/css/usercenter.css"/>
    <!-- 页面数据加载 -->
    <script src="/pages/common/js/app.js" type="text/javascript"></script>
</head>

<body>
<!-- 页头-->
<div th:replace="layout/header" /></div>
<!--页头结束-->

<div class="cenAll">
    <div class="center_main floating">

        <!-- 个人中心菜单开始 -->
        <div th:replace="layout/sidebar" /></div>
        <!-- 个人中心菜单结束 -->

        <div class="center_right rt">
            <!-- 我购买的商品-->
            <div class= "myorder2 active rt_tbs ">
                <h2>我购买的商品：<span class="color allorders"></span></h2>
                <p class="order_filter filter_btn floating">
                    <a href="/usercenter/buy/0" th:class="${type == 0}?active" data-class="myorder">数据商品</a>
                    <a href="/usercenter/buy/1" th:class="${type == 1}?active" data-class="demandorder">爬虫规则</a>
                </p>
                <!-- 数据商品开始 -->
                <div class="myorder2 order_tb  active" th:if="${type == 0}" style="margin-top: 0px;">
                    <table class="center_tb">
                        <thead>
                        <tr>
                            <th>类型</th>
                            <th>数据名称</th>
                            <th>价格</th>
                            <th>状态</th>
                            <th class="time_btn">
                                时间
                                <i></i>
                                <i></i>
                            </th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="data-container"></tbody>
                    </table>
                </div>
                <!-- 数据商品结束 -->


                <!-- 爬虫规则商品开始 -->
                <div class="myorder2 order_tb active" th:if="${type == 1}" style="margin-top: 0px;">
                    <table class="center_tb">
                        <thead>
                        <tr>
                            <th>类型</th>
                            <th>规则名称</th>
                            <th>价格</th>
                            <th>状态</th>
                            <th class="time_btn">
                                时间
                                <i></i>
                                <i></i>
                            </th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="rule-container"></tbody>
                    </table>
                </div>
                <!-- 爬虫规则商品结束 -->
                <div id="loadding" style="text-align: center;"><img src="/pages/common/images/loadding1.gif"/></div>
                <!-- 分页开始 -->
                <div id="pageTool" style="margin-top: 10px;"></div>
                <!-- 分页结束 -->
            </div>
            <!-- 我购买的商品-->
            <!-- 订单支付开始 -->
            <div class="orderpay rt_tbs" id="orderPay">

            </div>
            <!-- 订单支付结束 -->
            <!-- 支付回调 -->
            <div id="aliBack" style="dispay:none;"></div>
        </div>
    </div>
</div>
<!--页脚-->
<footer th:replace="layout/footer"></footer>
<!--页脚结束-->
<!--数据商品模板开始-->
<script id="tmpl_dataorder" type="text/x-jquery-tmpl">
        {{if list.length > 0}}
            {{each(i,order) list}}
             <tr>
                {{if order.productType==1}}
                <td> 条目 </td>
                {{else}}
                <td> 整包 </td>
                {{/if}}
                <td>${$item._substr(order.orderSubject,18)}</td>
                <td>￥${$item._num(order.amount)}</td>
                {{if order.orderState == 1 }}
                    <td class="nopaid">待支付</td>
                    <td>${$item._date(order.addtime)}</td>
                    <td>
                        <a href="/selectOrderAndPay/${order.productId}/${order.productType}?order=4" class="gopay">去支付</a>
                    </td>
                {{else order.orderState == 2 }}
                     <td class="paid">已撤销</td>
                     <td>${$item._date(order.addtime)}</td>
                     <td> - </td>
                {{else order.orderState == 3 }}
                     <td class="paid">已支付</td>
                    <td>${$item._date(order.addtime)}</td>
                    <td>
                         <a class="download" onclick="orderDownload('${order.orderNo}');">下载</a>
                    </td>
                {{/if}}
            </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="8" class="noline">
                     <div class="nodata">
                        <img src="/pages/common/images/none.png" alt=""/>
                            <p>暂时数据订单</p>
                            <a href="/datamart">前往数据商城</a>
                    </div>
                </td>
            </tr>
        {{/if}}
    </script>
<!--数据商品模板结束-->
<!-- 爬虫规则商品tpml模板 开始-->
<script id="tmpl_ruleorder" type="text/x-jquery-tmpl">
        {{if list.length > 0}}
            {{each(i,order) list}}
             <tr>
                {{if order.productType == 2 }}
                    <td> 整包 </td>
                {{else order.productType == 3 }}
                    <td> 爬虫规则 </td>
                {{else}}
                    <td> 条目 </td>
                {{/if}}
                </td>
                <td>${$item._substr(order.orderSubject,18)}</td>
                <td>￥${order.amount}</td>
                {{if order.orderState == 1 }}
                    <td class="nopaid">待支付</td>
                    <td>${$item._date(order.addtime)}</td>
                    <td>
                        <a href="/selectOrderAndPay/${order.productId}/${order.productType}?order=4" class="gopay">去支付</a>
                    </td>
                {{else order.orderState == 2 }}
                     <td class="paid">已撤销</td>
                     <td>${$item._date(order.addtime)}</td>
                     <td> - </td>
                {{else order.orderState == 3 }}
                     <td class="paid">已支付</td>
                    <td>${$item._date(order.addtime)}</td>
                    <td>
                        <a class="download" orderDownload="download('${order.orderNo}');">下载</a>
                    </td>
                {{/if}}
            </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="8" class="noline">
                     <div class="nodata">
                        <img src="/pages/common/images/none.png" alt=""/>
                    </div>
                </td>
            </tr>
        {{/if}}
    </script>

<!-- 爬虫规则商品tpml模板 结束-->


<script th:inline="javascript">
    var isOrder = [[${isOrder}]];
    var order = [[${order}]];
    jQuery(document).ready(function() {
        App.initUserBuy([[${user.id}]],[[${type}]]);
        //如果是支付订单
        if(isOrder && isOrder=="4"){
            $(".pereach>li:nth-child(4)").addClass("active").siblings(".active").removeClass("active");
            $("#tmpl_orderpay").tmpl(order).appendTo("#orderPay");
            $(".orderpay").addClass("active").siblings(".active").removeClass("active");

        }
    });
</script>


</body>
</html>