<div class="page-header navbar navbar-fixed-top" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="page-header-inner " >
        <div class="page-logo">
            <a href="/ctactivity">
                <img src="/img/qtsj_logo.png" alt="logo" class="qt_logo logo-default" style="margin-top:5px;height:35px;"/></a>
            <div class="menu-toggler sidebar-toggler"> </div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-user" th:if="${user}">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" th:src="@{${user.VQzjgmc} ? ${user.VQzjgmc} : '/img/qt_logo.jpg'} "/>
                        <span class="username username-hide-on-mobile" th:text="${user.name}"> admin </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="javascript:;">
                                <i class="icon-user"></i> 个人信息 </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="icon-lock"></i> 修改密码 </a>
                        </li>
                        <li>
                            <a class="logout" th:href="@{/logout}">
                                <i class="icon-key"></i> 退出登录 </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>