<div class="page-sidebar-wrapper" style="position: fixed">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-puzzle"></i>
                    <span class="title">数据商城管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">
                        <a href="/setUp" class="nav-link ">添加数据商品</a>
                    </li>
                    <li class="nav-item  ">
                        <a href="/wares" class="nav-link ">数据商品管理</a>
                    </li>
                    <li id="dataclassify">
                        <a href="/items" class="nav-link ">数据分类目录设置</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  content-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-docs"></i>
                    <span class="title">数据众包管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item ">
                        <a href="javascript:;" class="nav-link ">数据众包审核</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  content-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-docs"></i>
                    <span class="title">数据服务商管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item ">
                        <a href="javascript:;" class="nav-link ">身份审核</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  content-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-docs"></i>
                    <span class="title">用户管理</span>
                    <span class="arrow"></span>
                </a>

            </li>
            <li class="nav-item  content-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-docs"></i>
                    <span class="title">订单管理</span>
                    <span class="arrow"></span>
                </a>

            </li>
            <li class="nav-item  system-item">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">系统设置</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  jigou-item">
                        <a href="javascript:;" class=" nav-link ">
                            <span class="title">用户管理</span>
                        </a>
                    </li>
                    <li class="nav-item  sysSetting-item">
                        <a href="javascript:;" class=" nav-link ">
                            <span class="title">菜单管理</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="javascript:;" class=" nav-link ">
                            <span class="title">角色管理</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>