@charset "utf-8";
/**************banner轮播图******************/
.content_middle{
    overflow:hidden;
}
.content_middle,.banner_imgs{
    height:450px;
    position:relative;
    width: 100%;
}
.content_middle>.banner_imgs>li{
    width:100%;
    height:100%;
   position:absolute;
    opacity:0;
}
.banner_imgs>li>a{
     display:block;
     width:100%;
     height:100%;
 }
.content_middle>a{
    width: 40px;
    height: 46px;
    position: absolute;
    z-index: 25;
    top: 50%;
    margin-top: -30px;
    opacity:0.3;
}
.content_middle>.btnLeft{
    left: -41px;
    background:#000 url(../images/arrows.png) no-repeat -55px 50%;
}
.content_middle>.btnRight{
    right: -410px;
    background:#000 url(../images/arrows.png) no-repeat  -5px 50%;

}
.content_middle .table{
    width: 380px;
    height: 10px;
    position: absolute;
    bottom: 30px;
    left: 45%;
    z-index: 9;
}
.content_middle .table>a{
    width: 13px;
    height: 13px;
    border:1px solid #fff;
    border-radius:7px;
    background: #fff;
    opacity: 0.8;
    margin: 0px 10px;
    float: left;
}
.content_middle .table>a.small_active{
    background:#0285CD;
}

