@charset "utf-8";
.banner{
    width:100%;
    height:250px;
    overflow:hidden;
    position:relative;
}
.banner_main{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.banner_main>p{
    position: absolute;
}
.arrows{
    width:45px;
    height:25px;
    top:111px;
    left:709px;
}
.arrows>i{
    display:inline-block;
    width:10px;
    height:25px;
    background:url("../images/arrow_white.png") no-repeat 0px 0px;
}
.arrows>i.blue{
    background:url("../images/arrow_blue.png") no-repeat 0px 0px;
}
.arrow{
    width:205px;
    height:105px;
    top:72px;
    left:882px;
    animation:shrink 1s infinite;
}
.arrow>i:first-child{
    float:left;
    width:36px;
    height:105px;
    background:url("../images/bigarrow_left.png") no-repeat 0px 0px;
}
.arrow>i:last-child{
    float:right;
    width:36px;
    height:105px;
    background:url("../images/big-arrow_right.png") no-repeat 0px 0px;
}
.hex{
    width:121px;
    height:106px;
    top:70px;
    left:919px;
    background:url("../images/hex.png") no-repeat 0px 0px;
    transform:rotate(0deg);
}
.clock{
    width:17px;
    height:52px;
    top:97px;
    left:1207px;
    background:url("../images/clock.png") no-repeat 0px 0px;
}
.square{
    width:27px;
    height:27px;
    left:1438px;
}
.square1{
    top:74px;
    background:url("../images/square_up.png") no-repeat 0px 0px;
}
.square2{
    top:147px;
    background:url("../images/square_down.png") no-repeat 0px 0px;
}
.square.disappear{
    display:none;
}
.num_p{
    width:110px;
    height:20px;
    left:1450px;
    text-align:center;
    font-size:16px;
    color:#fff;
}
.exchange{
    top:60px;
}
.capacity{
    top:190px;
}
/****************左侧分类*************/
.main_lf{
    width:160px;
    line-height:47px;
    margin-right:68px;
}
.data_sort{
    width:160px;
}
.main_lf p{
    padding-left:20px;
    font-size:18px;
    color:#555;
}
.main_lf p,.data_sort>li{
    height: 47px;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.data_sort a{
    position:absolute;
    width:140px;
    padding-left:20px;
    font-size:18px;
    color:#555;
}
.data_sort p a{
    font-size:14px;
}
.data_sort a>i{
    position:absolute;
    width:0px;
    height:0px;
    right:10px;
    top:10px;
    border:5px solid transparent;
    border-left-color:#fff;
}
.data_sort li:hover a,.data_sort li.active a{
    color:#0276C6;
    background-color:#fff;
}
.data_sort li:hover a>i,.data_sort li.active a>i{
    border-left-color:#0276C6;
}
.data_sort>li{
    position:relative;
}
.data_sort>li>p{
    position:absolute;
    height:160px;
    top:0px;
    right:-100px;
    border:1px solid #ddd;
    border-left:none;
    background-color:#fff;
    display:none;
}
.data_sort>li:hover>p{
    display:block;
}
/****************右侧子分类*************/
.sub_sort{
    padding-bottom:40px;
    border-bottom:1px solid #ddd;
}
.sub_sort>li{
    margin-bottom:20px;
}
.sub_sort span{
    font-size:18px;
    color:#000;
    margin-right:20px;
}
.sub_sort a{
    margin-right:20px;
    padding:5px 10px;
    border:1px solid #ddd;

}
.sub_sort a.active,.sub_sort a:hover{
    background-color:#0276C6;
    color:#fff;
    border-color:transparent;
}
.sortStyle a{
    padding-right:20px;
    background:url("../images/icon.png" ) no-repeat -781px -172px;
}
.sortStyle a.active,.sortStyle a:hover{
    background-position:-720px -171px;
}
/****************右侧列表*************/
.list_img
{
    width: 303px;
    height: 205px;
    display:block;
}
.datamart_list{
    width:970px;
    padding:30px 0px;
    min-height:300px;
}
.datamart_list>li{
    float:left;
    width:303px;
    height:380px;
    margin-right:30px;
    margin-bottom:40px;
    background:#fff;
}
.datamart_list>li:hover{
  box-shadow:0px 0px 5px #999;
}
.datamart_list>li:nth-child(3n){
    margin-right:0px;
}
.list_main{
    padding:20px 10px;
    color:#999;
}
.list_title{
    font-size:18px;
    color:#333;
    width:25px;
    height:283px;
    overflow:hidden;
}
.list_con{
    line-height:20px;
    margin:20px 0px 30px 0px;
    width:283px;
    height:40px;
    overflow:hidden;
}
.list_bot{
    font-size:12px;
}
.list_bot i{
   display:inline-block;
    vertical-align:middle;
    width:20px;
    height:20px;
    margin-right:10px;
    background:url("../images/icon.png") no-repeat -938px -176px;
}
.list_bot>.rt{
   color:#F49314;
    font-size:14px;
}
.list_bot>.free{
    color:#1CBA41;
}