@charset "UTF-8";
.ui-paging-count:focus{
    outline:none;
    border-color:#337ab7
}
.qt_logo{
    height: 40px;
    margin-top: 3px;
}
.lf{
    float:left;
}
b.activity_status{
    cursor:default;
    font-weight:bold;
}
.status_div .btn{
    margin-right:10px;
}

.mb20{
    margin-bottom:20px;
}
.clear{
    clear: both;
}
.mb10{
    margin-bottom:10px;
}
.until{
    padding:0px;
}

@media (min-width: 992px){
    .col-md-1.until {
        width: 1.33333%;
    }
}

#table1 td{
    word-wrap: break-word;
}

@media (max-width: 480px){
    .page-header.navbar .top-menu {
        clear: none;
    }
}

.btn_td button{
    margin-bottom:5px;
}
.table .label{
    color:#000;
    font-weight:400;
}

.btn_td a{
    text-decoration: underline;
}

.table-checkable tr > td:first-child, .table-checkable tr > th:first-child{
    max-width: 400px;
}



















