@charset "utf-8";
/* CSS Document */
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0;}
body{font-family:"微软雅黑"}
a,u{text-decoration:none;}
ul,ol,li{list-style:none;}
img{display:block;border:0;}
em,i{font-style:normal;}
b,strong{font-weight:100;}
h1,h2,h3,h4,h5,h6{font-weight:100;font-size:16px;font-weight: 600;}

textarea{
    resize:none;
}
.uploadifive-button {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 120px;
    background-color: #169BD5;
    color: #FFF;
    display: inline-block;
    top: 9px;
    margin-bottom:5px;
}
.uploadifive-button:hover{
    background-color:#33aaff;
}
.upload_btn {
    font-size: 30px;
    opacity: 0;
    position: absolute;
    right: -3px;
    top: -3px;
    z-index: 999;
    cursor: pointer;
}


.theme{width: 800px;height: 50px;margin:0 auto ;position: relative;}
.theme h3,.theme input{flcontrol-labeloat: left;display: block;}

.theme input {margin-left: 10px;width: 400px;}
.theme p{width: 400px;height: 15px;display: block; position: absolute;left: 82px;top:125px;font-size: 12px;color:#999999;display: none;color: red;}
.describe{width: 800px;height: 50px;margin:0 auto ;padding-top:10px;position: relative; }
/*.describe input{display: block;width: 300px;height:80px; margin-left: 10px;line-height: 80px;}*/
#describe{display: block;width: 300px;height:80px; margin-left: 10px;}
.describe h3,.describe input{float: left;display: block;}
.describe p{width: 400px;height: 15px;display: block; position: absolute;left: 82px;top:100px;font-size: 12px;color:#999999; display: none;}


.star_time{width: 800px;height: 50px;margin:0 auto ;padding-top:100px;position: relative;}
.star_time h4,.star_time input{float: left;display: block;}
.star_time h4{font-weight: normal;}
.star_time input{margin-left: 10px; }
#time_e,#time_s{float: left; margin-left: 20px}
/*#time_e{position: absolute;left: 0px;top:0px;}*/


.end_time{width: 800px;height: 50px;margin:0 auto ;padding-top:20px;position: relative;}
.end_time h4,.end_time input{float: left;display: block;}
.end_time h4{font-weight: normal;}
.end_time input{margin-left: 10px; }
.end_time p{width: 400px;height: 15px;display: block; position: absolute;left:120px;top:60px;font-size: 12px;color:#999999;display: none;}


.address{width: 800px;height: 50px;margin:0 auto ;padding-top:20px;position: relative;}
.address h4,.address input{float: left;display: block;}
/*.address h4{font-weight: normal;}*/
.address input{margin-left: 10px;width: 250px;height: 18px; }
.address select{float: left;margin-left: 20px;height: 25px;display: block;}


.cover{width: 800px;height: 50px;margin:0 auto ;padding-top:50px;position: relative;}
.cover h4,.cover input{float: left;display: block;}
/*.cover h4{font-weight: normal;}*/
.cover input{margin-left: 20px; }
.cover input{display: block;width: 120px;height: 30px; border-radius: 5px;background: #03ccbb;opacity:0;}
.cover p{width: 400px;height: 15px;display: block; position: absolute;left:100px;top:90px;font-size: 12px;color:#999999; }
.cover label{display: block;width: 120px;height: 30px;border-radius: 5px;background: #03ccbb;text-decoration: none;text-align: center;line-height: 30px;position: absolute;left: 95px;top:50px; }



.content{width: 800px;height: 50px;margin:0 auto ;padding-top:40px;position: relative;}
.content h4,.content input{float: left;display: block;}
/*.content h4{font-weight: normal;}*/
.content input{margin-left: 10px; }
.content select{float: left;margin-left: 20px;height: 25px;display: block;}


/*.chose_2{width: 800px;height: 300px;margin:0 auto ;padding-top:40px;position: relative;border:1px solid blue;padding-left: 30px;box-sizing:border-box;padding-right: 30px;display: none;}*/
.chose_2 a{display: block; color:blue;float:left;width: 300px;height: 30px;border: 1px solid blue;text-align: center;line-height: 30px;}
.chose_2 a:hover{background: #03ccbb;transition-duration: 1s;color:#fff; cursor: pointer;}
/*.chose_2 li{width: 800px;height:30px;list-style: none;display: block; }*/

.myUl{width: 800px;height: 150px;margin-top:50px;}
.chose_2 .btn{display: block;width: 500px;height: 50px;text-align: center;text-decoration: none;color:#fff; background:#03ccbb;margin:0 auto; border:none; border-radius: 5px;float: none;line-height: 50px;}


/*.chose_1{width: 800px;/!*height: 800px;*!/margin:0 auto ;padding-top:40px;position: relative;border:1px solid blue;box-sizing:border-box;padding-right: 30px;padding-left: 30px; display: none;padding-bottom: 30px;}*/
.banner{width: 800px;height: 60px;margin:0 auto ;position: relative;box-sizing:box-border;padding-right: 30px;}

.banner h4,.banner input{float: left;display: block;}
/*.banner h4{font-weight: normal;}*/
.banner input{margin-left: 20px; }
.banner input{display: block;width: 120px;height: 30px; border-radius: 5px;background: #03ccbb}
.banner p{width: 400px;height: 15px;display: block; position: absolute;left:90px;top:40px;font-size: 12px;color:#999999;}


.details{width: 800px;height: 150px;margin:0 auto ;padding-top:10px;position: relative; }
/*.details input{display: block;width: 300px;height:120px; margin-left: 10px;line-height: 80px;}*/
#detail{display: block;width: 300px;height:120px; margin-left: 10px;}
.details h3,.details input{float: left;display: block;}


.form{width: 800px;height: 200px;margin:0 auto ;padding-top:10px;position: relative; }
/*.form input{display: block;width: 300px;height:10px; margin-left: 10px;line-height: 80px;}*/
.form h3,.form input[name=form]{float: left;display: block;}
.form p{width: 600px;height: 15px;display: block; position: absolute;left:90px;top:40px;font-size: 12px;color:#999999;}


/*.form_1{width: 800px;height: 80px;margin:0 auto ;padding-top:50px;position: relative; padding-left: 90px;box-sizing:border-box;}*/
/*.form_1 input{display: block;width: 300px;height:10px; margin-left: 10px;line-height: 80px;}*/
.form_1 h3,.form_1 input[name=form_1]{float: left;display: block;}
/*.form_1 p{width: 600px;height: 15px;display: block; position: absolute;left:90px;top:80px;font-size: 12px;color:#999999;}*/
.form_1 h5{font-weight: normal;}
.form_1 h5,.time_s,.time_e{float: left;}
.time_s{margin-left: 10px}
.time_e{margin-left: 10px}




/*.form_2{width: 800px;/!*height: 250px;*!/margin:0 auto ;padding-top:50px;position: relative; padding-left: 70px;box-sizing:border-box;}*/
/*.form_2 input{display: block;width: 300px;height:10px; margin-left: 10px;line-height: 80px;}*/
.form_2 h3,.form_2 input[name=form_2]{float: left;display: block;}
/*.form_2 p{width: 600px;height: 15px;display: block; position: absolute;left:90px;top:80px;font-size: 12px;color:#999999;display: none;}*/
.form_2 h5{font-weight: normal;display: none;}
/*#TextArea1{width: 400px;height: 100px;display: none;}*/
.form_2 em{width: 600px;height: 15px;display: block; position: absolute;left:90px;top:220px;font-size: 12px;color:#999999;display: none;}

.vote{width: 800px;/*height: 380px;*/margin:0 auto ;position: relative; padding-left: 70px;box-sizing:border-box;padding-top: 20px;}
.vote em{display: block;width: 50px;height: 30px;margin-top:20px;margin-left: 30px;}
/*#vote_tex{display: block;width: 300px;height: 20px;}*/
.vote p{width: 600px;height: 15px;display: block; position: absolute;left:150px;top:90px;font-size: 12px;color:#999999;}

/*.vote_1{width: 800px;/!*height: 120px;*!/margin:0 auto ;position: relative;box-sizing:border-box;}*/
/*.vote_1 em{display: block;width: 50px;height: 30px;margin-top:20px;margin-left: 30px;}*/
/*#vote_tex_1{display: block;width: 300px;height: 20px; }*/
/*#vote_tex_2{display: block;width: 300px;height: 20px; display: none;}*/
/*.vote_1 p{width: 600px;height: 15px;display: block; position: absolute;left:90px;top:70px;font-size: 12px;color:#999999; }*/
/**/
/*.vote_2{width: 800px;/!*height: 120px;*!/margin:40px auto 0 0;position: relative;box-sizing:border-box;}*/
/*.vote_2 em{display: block;width: 50px;height: 30px;margin-top:20px;margin-left: 30px;display: none;}*/
/*#vote_tex{display: block;width: 300px;height: 20px;}*/
/*.vote_2 p{width: 600px;height: 15px;display: block; position: absolute;left:90px;top:70px;font-size: 12px;color:#999999;}*/



.vote_chose{width:800px;height: 30px;padding-left: 30px;margin-top:20px;display: none;}
.vote_chose span,.vote_chose input{float: left;}
.vote_chose input{width: 300px;height: 20px;margin-left: 11px; padding-left: 5px;}
.vote_chose span{display: block;}


.addBtn{width:800px;height: 100px;padding-left: 100px;margin-top:20px;box-sizing:border-box;position: relative; display: none;opacity: 0.5}
.addBtn p{width: 600px;height: 15px;display: block; position: absolute;left:100px;top:60px;font-size: 12px;color:#999999;}

.addBtn  a{display: block;width: 50px;height: 50px;text-align: center;font-size: 40px;font-weight: 900;color:#fff;border-radius: 10px;background: skyblue;line-height: 50px;}
.addBtn span,.addBtn a{float: left;}
.addBtn span{display: block;margin-left: 10px;margin-top: 10px;font-size: 12px;color:#999999}

.surebtn{width:800px;height: 100px;box-sizing:border-box;position: relative;margin:0 auto;padding-top:30px;}

.surebtn a{display: block;width: 300px;height:50px;text-align: center;font-size: 20px;font-weight: 900;color:#fff;border-radius: 10px;background: skyblue;line-height: 50px;margin:0 auto; }


#datejc {width: 200px;height: 30px;margin: 0 auto; position: absolute;left: 100px;top: 90px;}


.myRemove{width: 20px;height: 10px;color:blue;font-size: 11px;margin-left: 10px;cursor: pointer;}


.red_star{
    color:#f00;
    position: relative;
    top:3px;
}
.err_msg{
    color:#f00;
}
.clear{
    clear: both;
}
.request_ul{
    margin-top:10px;
    margin-bottom:20px;
}
.request_ul li{
    line-height:28px;
}
.chose_1,.chose_2{
    display: none;
}
.form_2{
    padding-left:17px;
}
.problem_desc{
    padding-left:46px;
}
.vote_2{
    margin-top:20px;
}
.votetype1,.votetype2,.pcCoverImg,.appCoverImg,.form_1,.sel_2{
    display: none;
}
.coverImg{
    width:348px;
    height:188px;
    display: none;
}
#vote_count{
    padding-left:300px;
}
.form-horizontal .radio{
    padding-top:1px ;
}
.bannerPic{
    width:360px;
    height:84px;
    display: none;
}
.qt_logo{
    height: 40px;
    margin-top: 18px;
}

.warning_msg{
    color:#f00;
}

.zf_type label{
    padding-top:6px;
}

.vote_zf_type{
    position: relative;
    left:10px;
}



.btngroup span {
    width: 80px;
    height: 40px;
    background-color: #1ab394;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    float: left;
    color: #fff;
    line-height: 40px;
    margin-right: 15px;
}
.btngroup span:hover {
    background-color: #18a689;
    border-color: #18a689;
    color: #FFF;
    cursor: pointer;
}

#picCrop {
    width: auto ;
    position: relative;
}
.btngroup{
    margin-top:10px;
}
@media (max-width: 480px){
    .page-header.navbar .top-menu {
        clear: none;
    }
}

.form-group>div{
    padding-top:7px;
}













