<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head lang="en">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <link rel="shortcut icon" type="image/x-icon" href="/tradecenter/images/qiantang.ico" />
        <title>500</title>
    </head>
    <body>
    <div style="text-align:center;">
        <img style="width: 100%;" src="/tradecenter/images/500.jpg" alt="" />
    </div>

<!--<p>url: ${path}</p>
<p>异常信息: ${statuscode} ${status}</p>
<hr />
<div th:text="${url}"></div>
<div th:text="${exception.message}"></div>-->

    </body>
</html>