@charset "utf-8";
.mart_main>div,.infor_list{
    width:1200px;
}
/*********基本信息*************/

.product_back{
    width:1200px;
    margin:0px auto;
}
.marginpro{
    background:#F0FAFC;
    padding:30px 0px ;
}
.prointroduce{
    width:1200px ;
    margin:0px auto;
    box-sizing: border-box;
    padding:4px;
}
.filter>i{
    display:inline-block;
    width:4px;
    height:20px;
    background: #3A9BFC;
    position:relative;
    top:4px;
    margin-right:4px;
}


.detail_img{
    width:382px;
    height:259px;
    margin-right:20px;
    text-align:center;
    line-height:205px;
    border:1px solid #ddd;
    overflow:hidden;
    position:relative;
}
.detail_img>img{
    position: absolute;
    height:100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.infos{
    width:790px;
    height:40px;
    margin-bottom:10px;
    overflow:hidden;
}
.detail_info{
    width:790px;
}
.detail_info>.rt{
  margin-top:5px;
}
.detail_info>h2{
    font-weight:normal;
    margin-bottom:20px;
}
.detail_info p{
    margin-bottom:17px;
}
.detail_info p>span{
    margin-right:50px;
}
.detail_info .p3{
    margin-bottom:0px;
}
.detail_info .p1{
    color:#333;
}
.infos,.detail_info .p2{
    color:#808080;
}
.pczkj{
    font-size:18px;
    color:#ff4e00;
}
.buy1{
    padding:5px 15px;
    background:#FF4E00;
    color:#fff;
    margin-right:10px;
    font-size:18px;
    border-radius:4px;
    cursor: pointer;
}
.free .buy1{
    color:#fff;
    background-color:#3A9BFC;
}
.filter{
    width:1200px;
    margin:0px auto;
    margin-top:40px;
    padding-bottom:20px;
    border-bottom:1px solid #ddd;

}
.infor_list{
    padding:20px 0px;
    min-height:130px;
}
.filter>b{
    font-size:18px;
    color:#333;
    margin-right:35px;
}
.filter>a{
    FONT-SIZE:16px;
     padding-right:20px;
     margin-right:20px;
     background:url("../images/icon.png") no-repeat -786px -143px;
    cursor:pointer;
}
.filter>a.active,.filter>a:hover{
    background-position:-725px -143px;
    color:#0076CB;
}
/***************列表信息*************/
.infor_list>li{
    float:left;
    padding:20px;
    width:275px;
    height:123px;
    box-sizing: border-box;
    margin-right:22px;
    margin-bottom:20px;
    background:#fff;
    position:relative;
}
.infor_list>li:nth-child(4n){
    margin-right:0px;
}
.infor_list>li>h2{
    font-weight:normal;
    width:243px;
    height:27px;
    overflow:hidden;
}
.list_time{
    margin:10px 0px;
    width:234px;
    height:20px;
    overflow:hidden;
}
.list_mask{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(256,256,256,0.9);
    padding-top:20px;
    display:none;
    text-align:center;
}
.list_mask>p>i{
    color:#FF4E00;
}
.list_buy,.list_see{
    display:block;
    width:88px;
    height:25px;
    line-height:25px;
    text-align:center;
    border-radius:4px;
    margin:0px auto;
    margin-top:15px;
}
.list_buy{
    background-color:#FF4E00;
    color:#fff;
    margin-top:15px;
    margin-bottom:10px;
    cursor:pointer;
}
.list_see{
    border:1px solid #0076CB;
}
.infor_list>li:hover{
    box-shadow:0px 0px 5px #999;
}
.infor_list>li:hover .list_mask{
    display:block;
}
.liulan{
    margin-right:20px;
}
/*********是否免费*********/
.isfree{
     display:none;
 }
.isfree.show{
    display:block;
}
.free{
    margin-top:60px;
}

.qtbig>i{
    color:#0076CB;
}
.pcscj{
    font-size:14px;
    color:#808080;
    text-decoration: line-through;
}

.prointroduce img{
    max-width: 1192px;
}





















