@charset "UTF-8";
*{
    box-sizing:border-box;
}
body{
    background:#fff;
}
.bodys{
    width:100%;
    min-height:800px;
    background:url(../images/service_bg.jpg) no-repeat;
    margin-bottom: -60px;
}
.topimg{
    height:251px;

}
.service_top{
    margin:0px auto;
    position:relative;
    top:0px;
    background:#fff;
}
.sernum{
    width:1060px;
    margin:0px auto;
    padding:15px 0px ;
    box-sizing: border-box;
    background-color: #fff;
    position:relative;
    top:-64px;
}
.sernum>li{
    float:left;
    padding:0px 20px;
    box-sizing: border-box;
    text-align: center;
    color:#808080;
}
.sernum>li>p:first-child{
    font-size: 20px;
    color:#077ACA;
    margin-bottom:16px;
}
.sernum>li.oknum>p{
    text-align: left;
    color:#808080;
    font-size: 14px;
    position: relative;
    top: 6px;
}
.sernum>li.oknum>p>a{
    display:inline-block;
    width:90px;
    text-align: right;
}
.sernum>li.oknum>p:first-child>i{
    color:#077ACA;
}
.sernum>li.oknum>p:last-child>i{
    color:#FFA10C;
}
.sernum>li.relation>p:first-child{
    color:#333;
    text-align: left;
    font-size: 8px;
    border:1px solid #077ACA;
    width:150px;
    padding:0px;
    padding-right: 10px;
    box-sizing: border-box;
}
.sernum>li.relation>p:last-child{
    color:#FFA10C;
    text-align: right;
    margin-top:10px;
}
em{
    display:inline-block;
    width:30px;
    height:28px;

    background:url(../images/icon_index2.png);
}
.relation>p>a{
    background:#077ACA;
    height:28px;
    width:30px;
    vertical-align: middle;
    display:inline-block;
}
.relation>p>a>em{
    background-position:-209px -275px;
}
.serhead{
    width:1200px;
    margin:0px auto;
    padding-top: 133px;

}
.serhead>img{
    width:130px;
    height:130px;
    border-radius: 50%;
}
.serzy{
    background:#077ACA;
}
.sertitle{
    color:#fff;
    font-size:22px;
    margin-left: 20px;
    position:relative;
    top:-8px;
}

.serzy{
    color:#fff;
    font-size: 12px;
    margin-left: 10px;
    padding:2px 4px;
    border-radius: 4px;
}
.serletter{
    font-size: 12px;
    color:#fff;
}
.serletter>em{
    width:20px;
    height:20px;
    background-position: -280px -280px;
    position:relative;
    top:5px;
    margin-right: 4px;
}
.sernum>li.serpeople>p:first-child{
    color:#fff;
    font-size:14px;
    width:96px;
    height:30px;
    background:#077ACA;
    line-height: 30px;
    cursor: pointer;
}
.sernum>li.serpeople>p>i{
    color:#077ACA;
}
.sernum>li.serpeople{
    padding-right: 0px;
}

.service_main{
    width:1200px;
    margin:0px auto;
}
.sernum>li:nth-child(n+5){
    border-left:1px solid #ddd;
}
.serlist_title>a{
    font-size: 18px;
    color:#333;
    margin-right: 50px;
    padding-bottom: 16px;
}
.serlist_title{
    border-bottom: 1px solid #F1F1F1;
    padding-bottom:16px ;
}
.serlist_title>a:hover,.serlist_title>a.active{
    border-bottom: 2px solid #077ACA;
    color:#077ACA;
}
.sername{
    margin:30px 0px;


}
.sername>a{
    display:inline-block;
    margin-right:20px;
    width:85px;
    height:30px;
    text-align: center;
    line-height:30px;
}

.sername>a:hover,.sername>a.active{
    background-color:#077ACA;
    color:#fff;
    border-radius: 16px;
}
.service_listall{
    background:#fafafa;
    padding-top:30px;
    position:relative;
    top:-60px;
    padding-bottom: 150px;
}

.service_list{
    width:1200px;
    min-height: 800px;
    margin:0px auto;
    background-color:#fff;
    padding:20px;

}


/*****中间部分*******/

.store_main{
    width:1200px;
    margin:0px auto;

}
.store_one{
    width:282px;
    height:365px;
    float:left;
    border:1px solid #F0F0F0;
    border-top:1px solid #E6E6E6;
    box-shadow:0px 2px 1px rgba(0,0,0,0.15);
    margin-right: 10px;
    margin-bottom: 24px;
}
.store_one>img{
    width:282px;
    height:190px;
}

.store_one>h2{
    width:282px;
    font-size: 18px;
    padding:0px 20px;
    margin:20px auto;
    box-sizing:border-box;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.sto_main{
    color:#b3b3b3;
    width:282px;
    height:54px;
    font-size: 14px;
    padding:0px 20px;
    box-sizing: border-box;
    overflow: hidden;

    margin-bottom: 20px;
}
.jtcx{
    color:#428DD0;
}
.jtcx>i{
    color:#b3b3b3;
}
.mf{
    color:#1cba41;
}
.store_small{
    padding:0px 20px;
    box-sizing: border-box;
}
.store_main>div:nth-child(2n+1){
    margin-right: 0px;
}

.mainbottom{
    width:52px;
    height:52px;
    background-position:0px -30px;
    margin:30px 575px 50px 575px;

}




















