@charset "UTF-8";
body{
    background-color: #fff;
}
.industrial_data{
    box-sizing: border-box;
    width:100%;
    height:530px;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color:#F9F9F9;
}
/********标题公用样式*********/
.intitle{
    width:1200px;
    margin: 0px auto;
}
.intitle>span{
    font-size: 10px;
    color:#ccc;
    padding-left: 10px;
}
.intitle>i{
    display:inline-block;
    width:6px;
    height:25px;
    background-image: linear-gradient(to bottom,#00C9AD 0%,#00B2DC 100%);
    position:relative;
    top:2px;
    margin-right: 20px;
}
/*****公用表格样式*******/
.databox,.datamart{
    box-sizing: border-box;
    width:1200px;
    height:400px;
    margin:0px auto;
    margin-top: 20px;
}
.databox>li,.datamart>li{
    box-sizing: border-box;
    float:left;
    width:300px;
    height:200px;
    background: #fff;
    position:relative;
}
.datamart>li{
    border:1px solid #E9E9E9;
}
.databox>li:first-child,.datamart>li:first-child{
    box-sizing: border-box;
    width:290px;
    height:400px;
    margin-right: 10px;
}
.databox>li>.boximg,.datamart>li>.boximg{
    width:290px;
    height:400px;
    margin-right: 10px;
}
.databox>li>a>p:first-child,.datamart>li>a>p:first-child,.relevancebox>li>a>p:first-child{
    width:70px;
    height:70px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 20px;
    background:url(../images/icon_index1.png);
}
.datamart>li>a>p:first-child{
    width:100px;
}
.relevancebox>li>a>p:first-child{
    width:70px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.databox>li>a>p:nth-child(2),.datamart>li>a>p:nth-child(2),.relevancebox>li>a>p:nth-child(2){
    text-align: center;
    color:#333;
}
.sum{
    text-align: center;
    color:#F9C659;
    margin-top:12px;
}
.datamart>.rightnone{
    border-right:none;
}
.datamart>.bottomnone{
    border-bottom: none;
}
.datamart>li>a>p:first-child{
    margin-top:30px;
    margin-bottom: 10px;
}
.datamart>li>a>p:nth-child(3){
    text-align: center;
    color:#02CDA0;
    margin-top:10px;
}
/*******工业数据开始*********/
.databox>li:nth-child(2)>a>p:first-child{
    background-position:0px 0px;
    position:relative;
    left:2px;
}
.databox>li:nth-child(3)>a>p:first-child{
    background-position:-206px 10px;
}
.databox>li:nth-child(4)>a>p:first-child{
    background-position:-442px 10px;
}
.databox>li:nth-child(5)>a>p:first-child{
    background-position:-100px 0px;
}
.databox>li:nth-child(6)>a>p:first-child{
    background-position:-326px 10px;
}
.databox>li:nth-child(7)>a>p:first-child{
    background-position:-584px 10px;
}
.box_bot{
    display:inline-block;
    width:50px;
    height:50px;
    background:url(../images/icon_index1.png)-506px -281px;
    position:relative;
    top:-160px;
    left:-2px;
    z-index: 2;
}
.box_shade{
    width:300px;
    height:200px;
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(0,160,233,0.1);
    display:none;
}
.databox>li:hover>.box_shade,.databox>li>.box_shade.active{
    cursor: pointer;
    display:block;

}
/**********关联数据开始*************/
.relevance_data{
    background-color:#EEEEEE;
    width:100%;
    height:625px;
    box-sizing: border-box;
    padding-top: 28px;
    padding-bottom: 40px;
}
.relevance_data .intitle>i{
    background-image: linear-gradient(to bottom,#F9DE00 0%,#FFAF0E 100%);
}
.relevancebox{
    width:1200px;
    height:510px;
    margin:0px auto;
    margin-top: 20px;
    box-sizing: border-box;
}
.relevancebox>li:first-child>img{
    height:510px;
}
.relevancebox>li{
    box-sizing: border-box;
    float:left;
    width:225px;
    height:170px;
    background: #fff;
    border-right:1px solid #E9E9E9;
    border-bottom:1px solid #E9E9E9;
    position:relative
}
.relevancebox>li:hover,.relevancebox>li.active{
    background-color: #F9C659;
}
.relevancebox>li:hover>a>p,.relevancebox>li.active>a>p{
    color: #fff;
}
.databox_not>img{
    box-sizing: border-box;
    width:290px;
    height:510px;
    margin-right: 10px;
}
.relevancebox>li:nth-child(2)>a>p:first-child{
    background-position:10px -90px;
}
.relevancebox>li:nth-child(3)>a>p:first-child{
    background-position:-96px -90px;
}
.relevancebox>li:nth-child(4)>a>p:first-child{
    background-position:-208px -90px;
}
.relevancebox>li:nth-child(5)>a>p:first-child{
    background-position:-324px -90px;
}
.relevancebox>li:nth-child(6)>a>p:first-child{
    background-position:-448px -80px;
}
.relevancebox>li:nth-child(7)>a>p:first-child{
    background-position:-581px -85px;
}
.relevancebox>li:nth-child(8)>a>p:first-child{
    background-position:-720px -74px;
}
.relevancebox>li:nth-child(9)>a>p:first-child{
    background-position:8px -178px;
}
.relevancebox>li:nth-child(10)>a>p:first-child{
    background-position:-98px -176px;

}
.relevancebox>li:nth-child(11)>a>p:first-child{
    background-position:-200px -170px;
}
.relevancebox>li:nth-child(12)>a>p:first-child{
    background-position:-324px -166px;
}
.relevancebox>li:nth-child(13)>a>p:first-child{
    background-position:-444px -170px;
}

/****hover背景图******/
.relevancebox>li:nth-child(2):hover>a>p:first-child,.relevancebox>li:nth-child(2).active>a>p:first-child{
    background-position:10px -779px;
}
.relevancebox>li:nth-child(3):hover>a>p:first-child,.relevancebox>li:nth-child(3).active>a>p:first-child{
    background-position:-96px -779px;
}
.relevancebox>li:nth-child(4):hover>a>p:first-child,.relevancebox>li:nth-child(4).active>a>p:first-child{
    background-position:-208px -779px;
}
.relevancebox>li:nth-child(5):hover>a>p:first-child,.relevancebox>li:nth-child(5).active>a>p:first-child{
    background-position:-324px -779px;
}
.relevancebox>li:nth-child(6):hover>a>p:first-child,.relevancebox>li:nth-child(6).active>a>p:first-child{
    background-position:-448px -766px;
}
.relevancebox>li:nth-child(7):hover>a>p:first-child,.relevancebox>li:nth-child(7).active>a>p:first-child{
    background-position:-581px -774px;
}
.relevancebox>li:nth-child(8):hover>a>p:first-child,.relevancebox>li:nth-child(8).active>a>p:first-child{
    background-position:-720px -760px;
}
.relevancebox>li:nth-child(9):hover>a>p:first-child,.relevancebox>li:nth-child(9).active>a>p:first-child{
    background-position:8px -860px;
}
.relevancebox>li:nth-child(10):hover>a>p:first-child,.relevancebox>li:nth-child(10).active>a>p:first-child{
    background-position:-98px -854px;
}
.relevancebox>li:nth-child(11):hover>a>p:first-child,.relevancebox>li:nth-child(11).active>a>p:first-child{
    background-position:-200px -854px;
}
.relevancebox>li:nth-child(12):hover>a>p:first-child,.relevancebox>li:nth-child(12).active>a>p:first-child{
    background-position:-324px -854px;
}
.relevancebox>li:nth-child(13):hover>a>p:first-child,.relevancebox>li:nth-child(13).active>a>p:first-child{
    background-position:-444px -854px;
}
.new_box{
    display:inline-block;
    width:50px;
    height:50px;
    background:url(../images/icon_index1.png)-607px -280px;
    position:relative;
    top:-152px;
    left:0px;
    z-index:2;
}
.new_shade{
    width:225px;
    height:170px;
    position: absolute;
    top:0px;
    left:0px;
    background-color: #F9C659;
    display:none;
}
.relevancebox>li:hover>.new_shade,.relevancebox>li>.new_shade.active{
    cursor: pointer;
    display:block;
}
.intitle2>li:nth-child(2){
    background: url(../images/intitle1.jpg);
}
.intitle2>li:nth-child(3){
    background: url(../images/intitle2.jpg);
}
.intitle2>li:nth-child(4){
    background: url(../images/intitle3.jpg);
}
.intitle2>li:nth-child(5){
    background: url(../images/intitle4.jpg);
}
.intitle2>li:nth-child(6){
    background: url(../images/intitle5.jpg);
}
.intitle2>li:nth-child(7){
    background: url(../images/intitle6.jpg);
}
.databox>li:nth-child(2n+1)>a>p{
    color:#fff;
}
.bortop{
    border-top:1px solid #E9E9E9;
}
.borleft{
    border-left:1px solid #E9E9E9;
}
/**************爬虫市场开始***********/
.reptile_data{
    background-color:#F9F9F9;
    width:100%;
    height:844px;
    box-sizing: border-box;
    padding-top: 28px;
    padding-bottom: 48px;
}
.reptile_data .intitle>i{
    background-image: linear-gradient(to bottom,#8FD06D 0%,#00C28B 100%);
}

.datamart>li:nth-child(2)>a>p:first-child{
    background-position:-568px -167px;
}
.datamart>li:nth-child(3)>a>p:first-child{
    background-position:-694px -167px;
}
.datamart>li:nth-child(4)>a>p:first-child{
    background-position:16px -277px;
}
.datamart>li:nth-child(5)>a>p:first-child{
    background-position:-102px -278px;
}
.datamart>li:nth-child(6)>a>p:first-child{
    background-position:-234px -270px;
}
.datamart>li:nth-child(7)>a>p:first-child{
    background-position:-368px -266px;
}
.datamart>li:hover,.datamart>li.active{
     background:#00C099;
 }
.datamart>li:hover>a>p,.datamart>li.active>a>p{
    color:#fff;
}
.datamart>li:nth-child(2):hover>a>p:first-child{
    background-position:-14px -642px;
}
.datamart>li:nth-child(3):hover>a>p:first-child{
    background-position:-140px -642px;
}
.datamart>li:nth-child(4):hover>a>p:first-child{
    background-position:-288px -642px;
}
.datamart>li:nth-child(5):hover>a>p:first-child{
    background-position:-404px -642px;
}
.datamart>li:nth-child(6):hover>a>p:first-child{
    background-position:-542px -642px;
}
.datamart>li:nth-child(7):hover>a>p:first-child{
    background-position:-678px -638px;
}
/*****数据服务商开始*******/
.reptile_data .intitle>i.servicem{
    background-image: linear-gradient(to bottom,#81E7FD 0%,#2488D3 100%);
    margin-top: 50px;
}
.servicebox{
    width:1200px;
    height:200px;
    margin:0px auto;
    margin-top:20px;
    border:1px solid #ddd;
}
.com_slide{
    padding-top: 80px;
    overflow: hidden;
}
.com_list{
    width:1863px;
    position:relative;
    left:0px;
}
.com_list>a{
    float:left;
    width:162px;
    height:44px;
    margin-right:45px;
    background-image:url("../images/icon_index1.png" );
    cursor:pointer;
}
.com_list>.a1{
    background-position:0px -374px;
}
.com_list>.a2{
    background-position:-212px -373px;
}
.com_list>.a3{
    background-position:-404px -373px;
}
.com_list>.a4{
    background-position:-594px -374px;
}
.com_list>.a5{
    background-position:0px -465px;
}
.com_list>.a6{
    background-position:-188px -465px;
}
.com_list>.a7{
    background-position:-398px -464px;
}
.com_list>.a8{
    background-position:-591px -462px;
}
.com_list>.a9{
    background-position:0px -532px;
}
/*****数据服务商结束******/

.banner{
    height: 380px;
}


/********导航表单***********/
#wrapper {
    width: 100%;
    height:380px;
    overflow:hidden;
    position:relative;
}

.navinput{
    width:330px;
    height:320px;
    background:url("../images/index_banner_bg.jpg");
    z-index: 9;
    position:absolute;
    top:25px;
    right:50%;
    margin-right: 270px;
    box-sizing: border-box;
    padding:2px;
}
.navtop{
    height:50px;
    line-height:50px;
    border-bottom: 1px solid #DBDBDB;
}
.navtop>a{
    display:inline-block;
    padding:0px 20px;
    margin:0px 16px;
    font-size: 16px;
    box-sizing: border-box;
}
.navtop>a:hover,.navtop>a.active{
    color:#0076C8;
    border-bottom: 2px solid #0076C8;

}
.navtop>a>i{
    display:inline-block;
    width: 0px;
    height: 0px;
    border: 4px solid transparent;
    position:relative;
    top:19px;
    left:-36px;
}
.navtop>a.active>i{
    border-bottom-color: #0076C8;
}


.navmin{
    width:100%;
    height:240px;
    padding:0px 20px;
    box-sizing: border-box;
}
.textarea_control{
    border:1px solid #ddd;
    width:180px;
    height:100px;
    resize:none;
    margin-left: 10px;
    border-radius: 4px;
    background:#F9F9F9;
}
.needms{
    margin-top:20px;
}
.relationyx{
    border-radius: 4px;
    border:1px solid #ddd;
    width:180px;
    height:30px;
    margin-left: 14px;
    background:#F9F9F9;
}
.navinput>form{
    display:none;
}
.navinput>form.active{
    display:block;
}
.needsubmit{
    width:195px;
    height:37px;
    line-height:37px;
    margin-left:46px ;
    margin-top:20px;
    border-radius: 4px;
    background-color: #53b5e6 !important;
    color:#fff;
    cursor:pointer;
    border: none;
    padding: 0 !important;
}
.nivoSlider i{
    display:inline-block;
    width:160px;
    height:40px;
    cursor: pointer;
    position:absolute;
}
.knowmore{
    position:absolute;
    top:238px;
    left:745px;
    width:155px;
    height:45px;
    cursor: pointer;
}
.joinus{
    position:absolute;
    top:238px;
    left:745px;
    width:155px;
    height:45px;
    cursor: pointer;
}
.cartoonimg,.cartoonimg2{
    display:block;
    width:400px;
    height:400px;
    opacity:1;
    position: relative;
    top:0px;
    left: 52%;
}
.cartoon_one{
    position:absolute;
    top:139px;
    left:81px;
    z-index: 1;
}

.cartoon_two{
    position:absolute;
    top:56px;
    right:-141px;
}
.cartoon_three{
    position:absolute;
    top:77px;
    left:92px;
}
.cartoon_four{
    position:absolute;
    top:65px;
    right:-125px;
}
.cartoon_five{
    position:absolute;
    top:137px;
    right:-41px;
    z-index: 1;
}