@charset "UTF-8";
body{
    background-color: #fff;
}
.industrial_data{
    box-sizing: border-box;
    margin-top: 50px;
    width:100%;
    height:530px;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color:#F9F9F9;
}
/********标题公用样式*********/
.intitle{
    width:1200px;
    margin: 0px auto;
}
.intitle>span{
    font-size: 10px;
    color:#ccc;
    padding-left: 10px;
}
.intitle>i{
    display:inline-block;
    width:6px;
    height:25px;
    background-image: linear-gradient(to bottom,#00C9AD 0%,#00B2DC 100%);
    position:relative;
    top:2px;
    margin-right: 20px;
}
/*****公用表格样式*******/
.databox,.datamart{
    box-sizing: border-box;
    width:1200px;
    height:400px;
    margin:0px auto;
    margin-top: 20px;
    border-top:1px solid #E9E9E9;
}
.databox>li,.datamart>li{
    box-sizing: border-box;
    float:left;
    width:300px;
    height:200px;
    background: #fff;
    border-right:1px solid #E9E9E9;
    border-bottom:1px solid #E9E9E9;
    position:relative;
}
.databox>li:first-child,.datamart>li:first-child{
    box-sizing: border-box;
    /*border-left:1px solid #E9E9E9;*/
    width:300px;
    height:400px;
}
.databox>li>.boximg,.datamart>li>.boximg{
    width:300px;
    height:400px;
}
.databox>li>a>p:first-child,.datamart>li>a>p:first-child,.relevancebox>li>a>p:first-child{
    width:70px;
    height:70px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 20px;
    background:url(../images/icon_index1.png);
}
.datamart>li>a>p:first-child{
    width:100px;
}
.relevancebox>li>a>p:first-child{
    width:70px;
    margin-top: 35px;
}
.databox>li>a>p:nth-child(2),.datamart>li>a>p:nth-child(2),.relevancebox>li>a>p:nth-child(2){
    text-align: center;
}

/*******工业数据开始*********/
.databox>li:nth-child(2)>a>p:first-child{
    background-position:0px 0px;
    position:relative;
    left:2px;
}
.databox>li:nth-child(3)>a>p:first-child{
    background-position:-100px 0px;
}
.databox>li:nth-child(4)>a>p:first-child{
    background-position:-206px 10px;
}
.databox>li:nth-child(5)>a>p:first-child{
    background-position:-326px 10px;
}
.databox>li:nth-child(6)>a>p:first-child{
    background-position:-442px 10px;
}
.databox>li:nth-child(7)>a>p:first-child{
    background-position:-584px 10px;
}
.box_bot{
    display:inline-block;
    width:50px;
    height:50px;
    background:url(../images/icon_index1.png)-506px -281px;
    position:relative;
    top:-160px;
    left:-2px;
    z-index: 2;
}
.box_shade{
    width:300px;
    height:200px;
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(0,160,233,0.1);
    display:none;
}

.databox>li:hover>.box_shade,.databox>li>.box_shade.active{
    cursor: pointer;
    display:block;

}


/**********关联数据开始*************/
.relevance_data{
    background-color:#EEEEEE;
    width:100%;
    height:625px;
    box-sizing: border-box;
    padding-top: 28px;
    padding-bottom: 40px;
}
.relevance_data .intitle>i{
    background-image: linear-gradient(to bottom,#FDA081 0%,#FF5C56 100%);
}
.relevancebox{
    width:1200px;
    height:510px;
    margin:0px auto;
    margin-top: 20px;
    border-top:1px solid #E9E9E9;
    box-sizing: border-box;
}
.relevancebox>li{
    box-sizing: border-box;
    float:left;
    width:225px;
    height:170px;
    background: #fff;
    border-right:1px solid #E9E9E9;
    border-bottom:1px solid #E9E9E9;
    position:relative
}
.relevancebox>li:first-child{
    box-sizing: border-box;
    width:300px;
    height:510px;
}
.relevancebox>li:nth-child(2)>a>p:first-child{
    background-position:10px -90px;
}
.relevancebox>li:nth-child(3)>a>p:first-child{
    background-position:-96px -90px;
}
.relevancebox>li:nth-child(4)>a>p:first-child{
    background-position:-208px -90px;
}
.relevancebox>li:nth-child(5)>a>p:first-child{
    background-position:-324px -90px;
}
.relevancebox>li:nth-child(6)>a>p:first-child{
    background-position:-448px -80px;
}
.relevancebox>li:nth-child(7)>a>p:first-child{
    background-position:-581px -85px;
}
.relevancebox>li:nth-child(8)>a>p:first-child{
    background-position:-725px -80px;
}
.relevancebox>li:nth-child(9)>a>p:first-child{
    background-position:-96px -178px;
}
.relevancebox>li:nth-child(10)>a>p:first-child{
    background-position:-200px -170px;
}
.relevancebox>li:nth-child(11)>a>p:first-child{
    background-position:-324px -166px;
}
.relevancebox>li:nth-child(12)>a>p:first-child{
    background-position:-448px -80px;
}
.relevancebox>li:nth-child(13)>a>p:first-child{
    background-position:-444px -170px;
}
.new_box{
    display:inline-block;
    width:50px;
    height:50px;
    background:url(../images/icon_index1.png)-607px -280px;
    position:relative;
    top:-144px;
    left:0px;
    z-index:2;
}
.new_shade{
    width:225px;
    height:170px;
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(255,105,95,0.1);
    display:none;
}

.relevancebox>li:hover>.new_shade,.relevancebox>li>.new_shade.active{
    cursor: pointer;
    display:block;

}



/**************爬虫市场开始***********/
.reptile_data{
    background-color:#F9F9F9;
    width:100%;
    height:844px;
    box-sizing: border-box;
    padding-top: 28px;
    padding-bottom: 48px;
}
.reptile_data .intitle>i{
    background-image: linear-gradient(to bottom,#8FD06D 0%,#00C28B 100%);
}

.datamart>li:nth-child(2)>a>p:first-child{
    background-position:-568px -167px;
}
.datamart>li:nth-child(3)>a>p:first-child{
    background-position:-694px -167px;
}
.datamart>li:nth-child(4)>a>p:first-child{
    background-position:16px -277px;
}
.datamart>li:nth-child(5)>a>p:first-child{
    background-position:-102px -278px;
}
.datamart>li:nth-child(6)>a>p:first-child{
    background-position:-234px -270px;
}
.datamart>li:nth-child(7)>a>p:first-child{
    background-position:-368px -266px;
}
.social_shade{
    width:300px;
    height:200px;
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(50,177,108,0.1);
    display:none;
}

.datamart>li:hover>.social_shade,.datamart>li>.social_shade.active{
    cursor: pointer;
    display:block;

}

/**************爬虫市场结束***********/

/*****数据服务商开始*******/
.reptile_data .intitle>i.servicem{
    background-image: linear-gradient(to bottom,#7EE7FD 0%,#00C28B 100%);
    margin-top: 50px;
}
.servicebox{
    width:1200px;
    height:200px;
    margin:0px auto;
    margin-top:20px;
    border:1px solid #ddd;
}
.com_slide{
    padding-top: 80px;
    overflow: hidden;
}
.com_list{
    width:1863px;
    position:relative;
    left:0px;
}
.com_list>a{
    float:left;
    width:162px;
    height:44px;
    margin-right:45px;
    background-image:url("../images/icon_index1.png" );
    cursor:pointer;
}
.com_list>.a1{
    background-position:0px -374px;
}
.com_list>.a2{
    background-position:-212px -373px;
}
.com_list>.a3{
    background-position:-404px -373px;
}
.com_list>.a4{
    background-position:-594px -374px;
}
.com_list>.a5{
    background-position:0px -465px;
}
.com_list>.a6{
    background-position:-188px -465px;
}
.com_list>.a7{
    background-position:-398px -464px;
}
.com_list>.a8{
    background-position:-591px -462px;
}
.com_list>.a9{
    background-position:0px -532px;
}

/*****数据服务商结束******/


