<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtdbp.trading.mapper.CrawlersRoleMapper">

    <!--新增爬虫规则-->
    <insert id="insertRole" parameterType="com.qtdbp.trading.model.CrawlersRoleModel" useGeneratedKeys="true" keyProperty="id">
        <!-- mysql插入数据后，获取id -->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
          SELECT LAST_INSERT_ID()
        </selectKey>

        insert into crawlers_role (
              type_id,
              role_type,
              `name`,
              introduction,
              logo,
              market_price,
              price,
              `desc`,
              user_rating,
              buy_count,
              view_count,
              file_path,
              web_type,
              web_site,
              collection_field,
              is_self_support,
              is_institution,
              is_guarantee,
              is_full_refund,
              is_service_supervision,
              is_great_institution,
              create_id,
              create_time,
              edit_id,
              edit_time,
              auditor,
              audit_time,
              audit_status,
              audit_fail_reason,
              is_used
        ) values (
            #{typeId},
            #{roleType},
            #{name},
            #{introduction},
            #{logo},
            #{marketPrice},
            #{price},
            #{desc},
            #{userRating},
            #{buyCount},
            #{viewCount},
            #{filePath},
            #{webType},
            #{webSite},
            #{collectionField},
            #{isSelfSupport},
            #{isInstitution},
            #{isGuarantee},
            #{isFullRefund},
            #{isServiceSupervision},
            #{isGreatInstitution},
            #{createId},
            now(),
            #{editId},
            #{editTime},
            #{auditor},
            #{auditTime},
            #{auditStatus},
            #{auditFailReason},
            0
        )
    </insert>
    
    <select id="findRulesByCondition" resultMap="CrawlersRoleMap">
        select c.id,  c.type_id,  c.role_type,  c.name, c.introduction, c.logo, c.price, c.buy_count, c.web_type,
         c.web_site,  c.collection_field  from crawlers_role as c where c.is_used = 1
         <if test="typeId != null ">
             and type_id = #{typeId}
         </if>
          <if test="webType != null ">
              and web_type = #{webType}
          </if>
          order by ${orderBy} desc
    </select>

    <resultMap id="CrawlersRoleMap" type="com.qtdbp.trading.model.CrawlersRoleModel">
        <id property="id" column="id"/>
        <result column="type_id" property="typeId"/>
        <result column="role_type" property="roleType"/>
        <result column="name" property="name"/>
        <result column="introduction" property="introduction"/>
        <result column="logo" property="logo"/>
        <result column="market_price" property="marketPrice"/>
        <result column="price" property="price"/>
        <result column="desc" property="desc"/>
        <result column="user_rating" property="userRating"/>
        <result column="buy_count" property="buyCount"/>
        <result column="view_count" property="viewCount"/>
        <result column="file_path" property="filePath"/>
        <result column="web_type" property="webType"/>
        <result column="web_site" property="webSite"/>
        <result column="collection_field" property="collectionField"/>
        <result column="is_self_support" property="isSelfSupport"/>
        <result column="is_institution" property="isInstitution"/>
        <result column="is_guarantee" property="isGuarantee"/>
        <result column="is_full_refund" property="isFullRefund"/>
        <result column="is_service_supervision" property="isServiceSupervision"/>
        <result column="is_great_institution" property="isGreatInstitution"/>
        <result column="create_id" property="createId"/>
        <result column="create_time" property="createTime"/>
        <result column="edit_id" property="editId"/>
        <result column="edit_time" property="editTime"/>
        <result column="auditor" property="auditor"/>
        <result column="audit_time" property="auditTime"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="audit_fail_reason" property="auditFailReason"/>
        <result column="is_used" property="isUsed"/>
    </resultMap>

    <!--更新爬虫规则-->
    <update id="updateRule" parameterType="com.qtdbp.trading.model.CrawlersRoleModel">
        update crawlers_role
        <trim prefix="set" suffixOverrides=",">
            editor_time = now(),
            <if test="editorId != null">editor_id = #{editorId},</if>
            <if test="typeId != null"> type_id= #{typeId}, </if>
            <if test="roleType != null"> role_type = #{roleType}, </if>
            <if test="name != null"> `name` = #{name}, </if>
            <if test="introduction != null"> introduction = #{introduction}, </if>
            <if test="logo != null"> logo = #{logo}, </if>
            <if test="marketPrice != null">market_price = #{marketPrice}, </if>
            <if test="price != null">price = #{price}, </if>
            <if test="desc != null"> `desc` = #{desc}, </if>
            <if test="viewCount != null and viewCount != 0">view_count = IFNULL(download_count,0)+1,</if>
            <if test="buyCount != null and buyCount != 0">buy_count = IFNULL(buy_count,0)+1,</if>
            <if test="filePath != null">file_path = #{filePath}, </if>
            <if test="webType != null">web_type = #{webType}, </if>
            <if test="webSite != null">web_site = #{webSite}, </if>
            <if test="collectionField != null">collection_field = #{collectionField}, </if>
            <if test="isSelfSupport != null">is_self_support = #{isSelfSupport}, </if>
            <if test="isInstitution != null">is_institution = #{isInstitution}, </if>
            <if test="isGuarantee != null">is_guarantee = #{isGuarantee}, </if>
            <if test="isFullRefund != null">is_full_refund = #{isFullRefund}, </if>
            <if test="isServiceSupervision != null">is_service_supervision = #{isServiceSupervision}, </if>
            <if test="isGreatInstitution != null">is_great_institution = #{isGreatInstitution}, </if>
            <if test="isUsed != null">is_used = #{isUsed}, </if>
        </trim>
        where id = #{id}
    </update>

    <select id="findRuleById" parameterType="java.lang.Integer" resultMap="CrawlersRoleMap">
        select c.id,  c.type_id,  c.role_type,  c.name, c.introduction, c.logo, c.price,  c.`desc`, c.buy_count, c.view_count, c.web_type,
         c.web_site,  c.collection_field  from crawlers_role as c where id = #{id}
    </select>
</mapper>