<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtdbp.trading.mapper.DataSosInfoMapper">

    <!-- 分页查询需求订单 -->
    <select id="findDataSosInfoByCondition" resultMap="SosInfoResultMap">
        SELECT
            s.id,
            s.designation,
            s.description,
            s.data_scale,
            s.unit,
            s.from_date,
            s.to_date,
            s.exp_fee,
            s.contacts_name,
            s.contacts_email,
            s.contacts_phone,
            s.addtime,
            s.filePath,
            s.data_type,
            s.user_id,
            s.is_used
        FROM
            data_sos_info AS s
        WHERE
            s.is_used = 1
        <if test="userId != null and userId != 0">
        AND s.user_id = #{userId}
        </if>
        <if test="dataType != null and dataType != 0">
            AND s.data_type = #{dataType}
        </if>
        ORDER BY
            s.addtime DESC
    </select>

    <resultMap id="SosInfoResultMap" type="com.qtdbp.trading.model.DataSosInfoModel" >
        <id column="id" property="id" />
        <result column="designation" property="designation" />
        <result column="description" property="description" />
        <result column="unit" property="unit" />
        <result column="from_date" property="fromDate" />
        <result column="to_date" property="toDate" />
        <result column="exp_fee" property="expFee" />
        <result column="contacts_name" property="contactsName" />
        <result column="contacts_email" property="contactsEmail" />
        <result column="contacts_phone" property="contactsPhone" />
        <result column="addtime" property="addtime" />
        <result column="filePath" property="filePath" />
        <result column="data_type" property="dataType" />
        <result column="user_id" property="userId" />
        <result column="is_used" property="isUsed" />
    </resultMap>

</mapper>