<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtdbp.trading.mapper.DataProductMapper">

    <!-- 分页查询数据包产品 (排序必须使用${} 否则排序失效)-->
    <select id="findProductsByCondtion" resultMap="ProductResultMap">
        SELECT
        p.id,
        p.designation,
        p.pic,
        p.item_price,
        p.data_type,
        p.price,
        p.data_profile,
        p.data_scale,
        p.is_used,
        p.audit_status,
        p.audit_fail_reason,
        p.addtime,
        p.data_status
        FROM
        data_product as p
        WHERE
        1=1
        <if test="isUsed != null ">
            AND p.is_used = #{isUsed}
        </if>
        <if test="auditStatus != null ">
            AND p.audit_status = #{auditStatus}
        </if>
        <if test="dataTypes != null ">
            AND p.data_type in (${dataTypes})
        </if>
<!--        <if test="valSqls != null">
            AND p.id IN (${valSqls})
        </if>-->
        <if test="dataStatus != null">
            AND p.data_status = #{dataStatus}
        </if>
        <if test="dataSrc != null">
            AND p.data_src = #{dataSrc}
        </if>
        <if test="userId != null">
            AND p.user_id = #{userId}
        </if>
        <if test="isFree != null">
            <choose>
                <when test="isFree == 1">
                  AND p.price = 0
                </when>
                <otherwise>
                  AND p.price != 0
                </otherwise>
            </choose>
        </if>
        ORDER BY
        ${orderBy} DESC
    </select>

    <resultMap id="ProductResultMap" type="com.qtdbp.trading.model.DataProductModel" >
        <id column="Id" property="id" />
        <result column="designation" property="designation" />
        <result column="pic" property="pic" />
        <result column="introduce" property="introduce" />
        <result column="data_scale" property="dataScale"/>
        <result column="data_type" property="dataType"/>
        <result column="data_type_props" property="dataTypeProps"/>
        <result column="attr_name" property="attrName" />
        <result column="val_name" property="valName" />
        <result column="item_price" property="itemPrice"/>
        <result column="price" property="price" />
        <result column="data_profile" property="dataProfile"/>
        <result column="market_price" property="marketPrice"/>
        <result column="data_format" property="dataFormat"/>
        <result column="data_status" property="dataStatus"/>
        <result column="data_src" property="dataSrc"/>
        <result column="is_used" property="isUsed"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="audit_fail_reason" property="auditFailReason"/>
        <result column="addtime" property="addtime"/>
    </resultMap>

    <!-- 单表查询产品 -->
    <select id="findProductsById" resultMap="ProductDetailResultMap">
        SELECT
            p.id,
            p.designation,
            p.pic,
            p.introduce,
            p.addtime,
            p.editor_time,
            p.price,
            p.data_scale,
            p.item_price,
            p.file_url,
            p.data_profile,
            p.buy_count,
            p.download_count,
            p.market_price,
            p.data_format,
            p.data_status,
            p.data_src
        FROM
        data_product as p
        WHERE p.id = #{id}
    </select>

    <resultMap id="ProductDetailResultMap" type="com.qtdbp.trading.model.DataProductModel" >
        <id column="Id" property="id" />
        <result column="designation" property="designation" />
        <result column="pic" property="pic" />
        <result column="introduce" property="introduce" />
        <result column="data_scale" property="dataScale"/>
        <result column="data_type" property="dataType"/>
        <result column="addtime" property="addtime" />
        <result column="editor_time" property="editorTime" />
        <result column="price" property="price" />
        <result column="data_type_props" property="dataTypeProps" />
        <result column="item_price" property="itemPrice" />
        <result column="file_url" property="fileUrl"/>
        <result column="buy_count" property="buyCount"/>
        <result column="download_count" property="downloadCount"/>
        <result column="data_profile" property="dataProfile"/>
        <result column="market_price" property="marketPrice"/>
        <result column="data_format" property="dataFormat"/>
        <result column="data_status" property="dataStatus"/>
        <result column="data_src" property="dataSrc"/>

        <association property="buyCount" column="id" select="findOrdersCountByProductId"></association>
    </resultMap>

    <!-- 通过产品ID计算订单购买数，其中product_type=1表示数据包产品,order_state = 3表示已完成交易 -->
    <select id="findOrdersCountByProductId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
      SELECT COUNT(*) FROM data_transaction_order  WHERE product_id = #{id} AND product_type = 1 AND order_state = 3
    </select>

    <!-- 更新产品信息 -->
    <update id="updateProduct" parameterType="com.qtdbp.trading.model.DataProductModel">
        UPDATE data_product
        <trim prefix="set" suffixOverrides=",">
        <if test="editorId != null">editor_id = #{editorId},</if>
        editor_time = now(),
        <if test="downloadCount != null and downloadCount != 0">download_count = IFNULL(download_count,0)+1,</if>
        <if test="buyCount != null and buyCount != 0">buy_count = IFNULL(buy_count,0)+1,</if>
        </trim>
        WHERE
        id = #{id}
    </update>

    <insert id="insertProduct" parameterType="com.qtdbp.trading.model.DataProductModel" useGeneratedKeys="true" keyProperty="id">
        <!-- mysql插入数据后，获取id -->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into data_product (
            designation,
            introduce,
            pic,
            data_scale,
            data_type,
            data_type_sub,
            price,
            item_price,
            file_url,
            province_id,
            is_huadong,
            user_id,
            addtime,
            editor_id,
            editor_time,
            sort,
            rec,
            is_used,
            type_chain,
            data_type_props,
            download_count,
            buy_count
        ) VALUES (
            #{designation},
            #{introduce},
            #{pic},
            #{dataScale},
            #{dataType},
            0,
            #{price},
            #{itemPrice},
            #{fileUrl},
            #{provinceId},
            1,
            #{userId},
            now(),
            0,
            null,
            #{sort},
            #{rec},
            #{isUsed},
            NULL ,
            #{dataTypeProps},
            0,
            0
        )

    </insert>

    <!--删除单条数据包-->
    <delete id="deleteProduct" parameterType="java.lang.Integer">
        delete from data_product where id = #{id}
    </delete>

    <!-- #################################################################### -->
    <!-- #############################数据条目处理############################# -->
    <!-- #################################################################### -->

    <select id="findItemsByProductId" resultMap="ItemResultMap">
        SELECT
            i.id,
            i.product_id,
            i.item_name,
            i.view_count,
            i.download_count,
            i.editor_time,
            i.price
        FROM
            data_item AS i
        WHERE
            i.is_used = 1
        AND product_id = #{productId}
        ORDER BY
        i.editor_time desc
    </select>

    <resultMap id="ItemResultMap" type="com.qtdbp.trading.model.DataItemModel" >
        <id column="Id" property="id" />
        <result column="product_id" property="productId" />
        <result column="item_name" property="itemName" />
        <result column="view_count" property="viewCount" />
        <result column="view_count" property="viewCount" />
        <result column="download_count" property="downloadCount" />
        <result column="editor_time" property="editorTime" />
        <result column="price" property="price" />
    </resultMap>

    <select id="findItemById" resultMap="ItemResultMap" >
        SELECT
            i.id,
            i.product_id,
            i.item_name,
            i.view_count,
            i.download_count,
            i.editor_time,
            i.price
        FROM
            data_item AS i
        WHERE
            i.is_used = 1
        AND id = #{id}
        ORDER BY
        i.editor_time desc
    </select>
</mapper>