<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtdbp.trading.mapper.DataSosInfoMapper">

    <!-- 分页查询需求订单 -->
    <select id="findDataSosInfoByCondition" resultMap="SosInfoResultMap">
        SELECT
            s.id,
            s.designation,
            s.description,
            s.data_scale,
            s.unit,
            s.demand_type,
            s.from_date,
            s.to_date,
            s.exp_fee,
            s.contacts_name,
            s.contacts_email,
            s.contacts_phone,
            s.addtime,
            s.filePath,
            s.data_type,
            s.user_id,
            s.is_used
        FROM
            data_sos_info AS s
        WHERE
            1=1
        <if test="isUsed != null">
          AND s.is_used = #{isUsed}
        </if>
        <if test="userId != null and userId != 0">
          AND s.user_id = #{userId}
        </if>
        <if test="dataType != null and dataType != 0">
            AND s.data_type = #{dataType}
        </if>
        ORDER BY
            s.addtime DESC
    </select>

    <resultMap id="SosInfoResultMap" type="com.qtdbp.trading.model.DataSosInfoModel" >
        <id column="id" property="id" />
        <result column="designation" property="designation" />
        <result column="description" property="description" />
        <result column="unit" property="unit" />
        <result column="data_scale" property="dataScale" />
        <result column="demand_type" property="demandType" />
        <result column="from_date" property="fromDate" />
        <result column="to_date" property="toDate" />
        <result column="exp_fee" property="expFee" />
        <result column="contacts_name" property="contactsName" />
        <result column="contacts_email" property="contactsEmail" />
        <result column="contacts_phone" property="contactsPhone" />
        <result column="addtime" property="addtime" />
        <result column="filePath" property="filePath" />
        <result column="data_type" property="dataType" />
        <result column="user_id" property="userId" />
        <result column="is_used" property="isUsed" />
    </resultMap>

    <!-- 添加方案召集 -->
    <insert id="insertDataSosInfo" parameterType="com.qtdbp.trading.model.DataSosInfoModel" useGeneratedKeys="true" keyProperty="id">
        <!-- mysql插入数据后，获取id -->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>

        INSERT INTO data_sos_info (
            designation,
            data_scale,
            unit,
            dimension,
            demand_type,
            from_date,
            to_date,
            exp_fee,
            contacts_name,
            contacts_phone,
            contacts_email,
            user_id,
            addtime,
            is_used,
            filePath,
            data_type,
            data_type_sub,
            description
        )
        VALUES
        (
            #{designation}, #{dataScale}, #{unit},
            #{dimension}, #{demandType}, #{fromDate},
            #{toDate}, #{expFee}, #{contactsName},
            #{contactsPhone}, #{contactsEmail}, #{userId},
            now(), 0, #{filePath}, #{dataType},
            #{dataTypeSub}, #{description})
    </insert>

</mapper>