<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtdbp.trading.mapper.DataInstitutionInfoMapper">

    <!-- 成为数据加盟商 -->
    <insert id="insertInstitution" parameterType="com.qtdbp.trading.model.DataInstitutionInfoModel" useGeneratedKeys="true" keyProperty="id">
        <!-- mysql插入数据后，获取id -->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>

        INSERT INTO data_institution_info (
            `type`,
            designation,
            service_type,
            province_id,
            city_id,
            province,
            city,
            picture,
            abstracts,
            user_id,
            addtime,
            is_used,
            contacts_email,
            contacts_name,
            contacts_phone,
            contacts_QQ
        ) VALUES
          (#{type},#{designation},#{serviceType},#{provinceId}, #{cityId}, #{province}, #{city}, #{picture},#{abstracts},#{userId},now(), 0, #{contactsEmail},#{contactsName},#{contactsPhone},#{contactsQq});
    </insert>

    <!-- 插入服务商和类型关联表，一对多关系，其中collection值包括：list(集合)、array(数组)、map(Map) -->
    <insert id="insertInstitutionTypeRelation" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO data_institution_type_relation (institution_id, `data_type`)
        VALUES
        <foreach collection="list" item="rel" index="index" separator="," >
            (#{rel.institutionId}, #{rel.dataType})
        </foreach>
    </insert>

    <!-- (当有dataType时根据dataType)分页查询服务商信息和类型 -->
    <select id="findDataInstitutionInfoByCondition" resultMap="InstitutionInfoMap">
        select dii.id,dii.designation,dii.picture,group_concat(dt.`name`) as typename
        from data_institution_info dii
        LEFT JOIN data_institution_type_relation ditr on dii.id=ditr.institution_id
        LEFT JOIN data_type dt on ditr.data_type=dt.id
        <where>
            <if test="dataType != null">
                ditr.data_type=#{dataType}
            </if>
        </where>
        GROUP BY dii.id,dii.designation,dii.picture
    </select>

    <resultMap id="InstitutionInfoMap" type="com.qtdbp.trading.model.DataInstitutionInfoModel">
        <id column="id" property="id" />
        <result column="designation" property="designation" />
        <result column="picture" property="picture"/>

        <collection property="typeName" javaType="java.util.List" ofType="com.qtdbp.trading.model.DataTypeModel">
            <result column="typename" property="name"/>
        </collection>
    </resultMap>

    <!-- 通过用户ID查询服务商 -->
    <select id="findDataInstitutionInfoByUserId" parameterType="int" resultType="com.qtdbp.trading.model.DataInstitutionInfoModel">
        SELECT
            type,
            designation,
            service_type AS serviceType,
            abstracts
        FROM
            data_institution_info
        WHERE
            user_id = #{userId}
    </select>

</mapper>