<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="keywords" content="钱塘大数据交易中心"/>
    <meta name="description" content="钱塘大数据交易中心"/>
    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../css/usercenter.css"/>

    <title>我发布的定制</title>
</head>
<body>

<div class="cenAll">
    <div class="center_main floating">
        <div class="center_left lf">
            <div class="headbg">
                <a>
                    <img class="headpic" th:src="@{${user.head} ? ${user.head} : '/tradecenter/images/user_img.png'}" alt=""/>
                </a>
            </div>
            <p class="pername "><a th:text="${user.userName} ">三生万物</a></p>
            <p class="pername perphone"><a th:text="${user.phone}"></a></p>
            <p class="perdata">
                <span class="lf realrz"> <b></b> <a>未实名认证</a> </span>
                <a class="preinfo rt" data-class="persinfo"  id="perfectdatum" href="javascript:;">完善资料</a>
            </p>

            <ul class="pereach lf floating">
                <li data-class="overview"  class="active"><a href="javascript:;"><span></span> 概览 <b></b>  </a></li>
                <li data-class="persinfo"><a href="javascript:;"><span></span> 个人信息 <b></b> </a></li>
                <li data-class="myaccount" style="display:none"><a href="javascript:;"><span></span> 我的账户 <b></b> </a></li>
                <li data-class="myorder"><a href="javascript:;"><span></span> 我的订单 <b></b>  </a></li>
                <li data-class="myrelease"><a href="javascript:;"><span></span> 我的发布 <b></b> </a></li>
                <li data-class="dataservice" id="joinservice2"><a th:href="@{/institution/add}"><span></span> 成为数据服务商 <b></b> </a></li>

            </ul>

        </div>
        <div class="center_right rt">
            <!-- 我发布的商品-数据-->
            <div class= "myorder2 active rt_tbs ">
                <h2>我发布的定制：<span class="color allorders"></span></h2>
                <p class="order_filter filter_btn floating">
                    <a href="javascript:;" class="active" data-class="myorder">数据定制</a>
                    <a href="javascript:;" data-class="demandorder">爬虫规则定制</a>
                </p>
                <!-- 数据定制开始 -->
                <div class="myorder2 order_tb  active" >
                    <table class="center_tb">
                        <thead>
                        <tr>
                            <th class="time_btn id_btn">
                                ID
                                <i></i>
                                <i></i>
                            </th>
                            <th>定制名称</th>
                            <th>悬赏金额</th>
                            <th>状态</th>
                            <th class="time_btn">
                                时间
                                <i></i>
                                <i></i>
                            </th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="orderList2">
                            <tr>
                                <td>33</td>
                                <td>dfgdfg</td>
                                <td>56</td>
                                <td class="paid">已撤销</td>
                                <td>14:00</td>
                                <td> - </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- 分页开始 -->
                    <div id="orderPage2"></div>
                    <!-- 分页结束 -->
                </div>
                <!-- 数据定制结束 -->
                <!-- 爬虫规则开始 -->
                <div class="demandorder2 order_tb">
                    <table class="center_tb">
                        <thead>
                        <tr>
                            <th class="time_btn id_btn">
                                ID
                                <i></i>
                                <i></i>
                            </th>
                            <th>数据类型</th>
                            <th>商品名称</th>
                            <th>价格</th>
                            <th>状态</th>
                            <th class="time_btn">
                                时间
                                <i></i>
                                <i></i>
                            </th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="orderList3">

                        </tbody>
                    </table>
                    <!-- 分页开始 -->
                    <div id="demandPage"></div>
                    <!-- 分页结束 -->
                </div>
                <!-- 爬虫规则定制结束 -->
            </div>
            <!-- 我发布的商品-数据-->


        </div>





    </div>

</div>
<script src="js/jquery-1.11.1.min.js"></script>

</body>
</html>