<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>数据市场 | 钱塘大数据交易中心</title>
    <div th:replace="layout/top"/>

    <link rel="stylesheet" href="/pages/common/css/datamartdetail.css"/>
    <!-- 页面数据加载 -->
    <script src="/pages/common/js/app.js" type="text/javascript"></script>
</head>

<body class="allindex">
    <!-- 页头-->
    <div th:replace="layout/header" /></div>
    <!--页头结束-->

    <!--主体-->
    <!-- 详情页信息 -->
    <div id="product-container"></div>
    <section class="mart_main main">


        <!-- 数据项列表开始 -->
        <p class="filter" id="order-container">
            <i></i>
            <b>信息列表</b>
            <a class="active" data-id="0">最新</a>
            <a data-id="1">价格</a>
            <a data-id="2">销量</a>
        </p>
        <div id="loadding" style="text-align: center;"><img src="/pages/common/images/loadding1.gif"/></div>
        <ul id="data-container" class="infor_list floating"></ul>
        <div id="pageTool"></div>
        <!-- 数据项列表结束 -->
    </section>

    <!--页脚-->
    <footer th:replace="layout/footer"></footer>
    <!--页脚结束-->

    <!-- 数据产品详情 -->
    <script id="tmpl_product" type="text/x-jquery-tmpl">

        <div class="marginpro">
            <div class="floating product_back">
            <p class="lf detail_img">
               <img src="${pic}" alt=""/>
            </p>
            <div class="lf detail_info">
                <p class="rt">更新时间：
                    {{if editorTime}}
                        ${$item._date(editorTime)}
                    {{else}}
                        ${$item._date(addtime)}
                    {{/if}}
                </p>
                <h2>${designation}</h2>
                <div class="infos">${dataProfile}</div>
                <p class="p1">
                    <span>产品类型：${$item._def(dataStatus,1)}</span>
                    <span>数据格式：${$item._def(dataFormat)}</span>
                    <span>数据规模：${$item._def(dataScale)} 条</span>
                    <span>数据来源：${$item._def(dataSrc,2)}</span>
                </p>
                {{if price == 0}}
                <div class="show isfree free">
                    <p class="p3">
                        <a class="buy1" id="download-container">免费下载</a>
                        <span>已有 <i>${downloadCount}</i> 人下载</span>
                    </p>
                </div>
                {{else}}
                <div class="show isfree">
                    <p class="p2">
                        <i>￥${$item._num(price)} / 整包</i>
                        <span>（-）积分</span>
                        <i>￥${$item._num(itemPrice)} / 条</i>
                        <span>（-）积分</span>
                    </p>
                    <p class="p3">
                        <a class="buy1" id="buy-container">购买数据包</a>
                        <span>已有 <i>${buyCount}</i> 人购买</span>
                    </p>
                </div>
                {{/if}}
            </div>
        </div>
        </div>


        <div class="filter">
            <i></i>
            <b>数据详情</b>
        </div>
        <div class="prointroduce">{{html introduce}}</div>

    </script>

    <!-- 数据包产品tpml模板 -->
    <script id="tmpl_items" type="text/x-jquery-tmpl">
    {{if list.length>0}}
        {{each(i,item) list}}
        <li>
            <h2>${$item._substr(item.itemName,10)}</h2>
            <p class="list_time">日期：${$item._date(item.editorTime)}</p>
            <p>
                <span class="liulan">浏览量：${item.viewCount}</span>
                <span>销售量：${item.downloadCount}</span>
            </p>
            <div class="list_mask">
                <p><i>￥${item.price}</i>（-）积分</p>
                <!--<a class="list_buy" onclick="buy(${item.id},1);">购买</a>-->
                <!--<a href="javacript:;" class="list_see">查看详情</a>-->
            </div>
        </li>
        {{/each}}
    {{else}}
        暂时没有相关信息
    {{/if}}
    </script>

    <script th:inline="javascript">
        jQuery(document).ready(function() {
            App.initDatamartDetail([[${id}]]);
        })
    </script>
</body>
</html>