<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- 引入header布局 -->
	<top th:replace="layout/top"></top>
	<!-- 页面自定义css、js  -->
	<title>数据联盟</title>
	<meta name="keywords" content="钱塘大数据交易中心"/>
	<meta name="description" content="钱塘大数据交易中心 数据商城"/>
	<link rel="stylesheet" th:href="@{/tradecenter/css/dataFedration.css}" />
</head>
<body >
	<!-- 页头-->
	<div th:include="layout/header::#head" ></div>
	<!--页头结束-->

	<!--banner图 -->
	<div class="banner"></div>

	<!--主体-->
	<section class="fredation_main main">
		<p class="chose_menu floating">
			<span>服务范围&nbsp;&nbsp;：</span>
			<a class="active" data-id="0">不限</a>
			<a data-id="1">知识专利</a>
			<a data-id="2">智能制造</a>
			<a data-id="3">物联网</a>
			<a data-id="4">工业参数</a>
			<a data-id="5">仪器仪表</a>
			<a data-id="6">先进制造</a>
			<a data-id="7">工业安全</a>
			<a data-id="8">政府监管</a>
			<a data-id="9">工业运行</a>
			<a data-id="10">物流 数据</a>
			<a data-id="11">工业设计</a>
			<a data-id="12">学术教育</a>
			<a data-id="13">行业综合</a>
			<a data-id="14">其他</a>
		</p>

		<ul class="prolist floating">
			<li>
				<a href="javascript:;" class="prolist_img">
					<img th:src="@{/tradecenter/images/prolist_1.png}" alt=""/>
				</a>
				<p>广东叁玖捌大数据科技有限公司</p>
				<div class="prolist_fot">
					<i></i>物联网&nbsp;,&nbsp;其他
				</div>
			</li>
			<li>
				<a href="javascript:;" class="prolist_img">
					<img th:src="@{/tradecenter/images/prolist_1.png}" alt=""/>
				</a>
				<p>广东叁玖捌大数据科技有限公司</p>
				<div class="prolist_fot">
					<i></i>物联网&nbsp;,&nbsp;其他
				</div>
			</li>
			<li>
				<a href="javascript:;" class="prolist_img">
					<img th:src="@{/tradecenter/images/prolist_1.png}" alt=""/>
				</a>
				<p>广东叁玖捌大数据科技有限公司</p>
				<div class="prolist_fot">
					<i></i>物联网&nbsp;,&nbsp;其他
				</div>
			</li>
			<li>
				<a href="javascript:;" class="prolist_img">
					<img th:src="@{/tradecenter/images/prolist_1.png}" alt=""/>
				</a>
				<p>广东叁玖捌大数据科技有限公司</p>
				<div class="prolist_fot">
					<i></i>物联网&nbsp;,&nbsp;其他
				</div>
			</li>
			<li>
				<a href="javascript:;" class="prolist_img">
					<img th:src="@{/tradecenter/images/prolist_1.png}" alt=""/>
				</a>
				<p>广东叁玖捌大数据科技有限公司</p>
				<div class="prolist_fot">
					<i></i>物联网&nbsp;,&nbsp;其他
				</div>
			</li>
			<li>
				<a href="javascript:;" class="prolist_img">
					<img th:src="@{/tradecenter/images/prolist_1.png}" alt=""/>
				</a>
				<p>广东叁玖捌大数据科技有限公司</p>
				<div class="prolist_fot">
					<i></i>物联网&nbsp;,&nbsp;其他
				</div>
			</li>
			<li>
				<a href="javascript:;" class="prolist_img">
					<img th:src="@{/tradecenter/images/prolist_1.png}" alt=""/>
				</a>
				<p>广东叁玖捌大数据科技有限公司</p>
				<div class="prolist_fot">
					<i></i>物联网&nbsp;,&nbsp;其他
				</div>
			</li>

		</ul>

		<!-- 分页开始 -->
		<div id="pageTool"></div>
		<!-- 分页结束 -->
	</section>
	<!--页脚-->
	<footer th:replace="layout/footer"></footer>
	<!--页脚结束-->
	<script th:src="@{/tradecenter/js/query.js}"></script>
	<script th:src="@{/tradecenter/js/paging.js}"></script>
	<script th:src="@{/tradecenter/js/page/dataFedration.js}"></script>
	<script>
		nav(4);
	</script>

</body>
</html>