<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/tradecenter/images/qiantang.ico}" />
    <title>数据商城列表</title>
    <!-- 引入header布局 -->
    <top th:replace="layout/top"></top>
    <!-- 页面自定义css、js  -->
    <meta name="keywords" content="钱塘大数据交易中心" />
    <meta name="description" content="钱塘大数据交易中心 数据商城" />
    <link rel="stylesheet" th:href="@{/tradecenter/css/dataMartList.css}" />
</head>
<body>
    <!-- 页头-->
    <div th:replace="layout/header" /></div>
    <!--页头结束-->

    <!--banner图 -->
    <div class="banner">
        <div class="banner_main">
            <img th:src="@{/tradecenter/images/mart_bg.jpg}" alt="">
            <p class="arrows">
                <i class="blue"></i>
                <i></i>
                <i></i>
            </p>
            <p class="arrow floating">
                <i></i>
                <i></i>
            </p>
            <p class="hex"></p>
            <p class="clock"></p>
            <p class="square1 square"></p>
            <p class="square2 square"></p>
            <p class="exchange num_p">20000000</p>
            <p class="capacity num_p">100G</p>
        </div>
    </div>

    <!--主体-->
    <section class="datamart_main floating main">
        <!--左侧分类-->
        <div class="lf main_lf">
            <!--<p>全部分类</p>-->
            <ul class="data_sort">
                <li><a th:href="@{/datamart}" th:class="${currentid} ? null : 'active'" data-id="0">全部分类 </a></li>
                <li th:each="list : ${typeModels}">
                    <a th:href="@{/datamart}+'/'+${list.id}" th:text="${list.name}" th:attr="data-id=${list.id}" th:class="${currentid} == ${list.id} ? 'active'">智能制造 </a>
                </li>
            </ul>
        </div>
        <!--右侧-->
        <div class="lf">
            <!--右侧分类-->
            <ul class="sub_sort">
                <li class="priceStyle" th:each="attr : ${attrModels}">
                    <span th:text="${attr.name}+' ：'" th:object="${attr.attrVals}">计价方式 ：</span>
                    <a href="javascript:;" class="a1 active" >不限</a>
                    <a th:each="val : ${attr.attrVals}" href="javascript:;" th:text="${val.name}" th:attr="data-id=${val.id}">免费</a>
                </li>
                <li class="sortStyle">
                    <span>排序方式 ：</span>
                    <a href="javascript:;" class="a1 active">最新</a>
                    <a href="javascript:;" data-id="1">价格</a>
                    <a href="javascript:;" data-id="2">销量</a>
                </li>
            </ul>
            <!--右侧分类-->
            <div id="loadding" class="loadding">
                <img th:src="@{/tradecenter/images/loadding.gif}" alt="" />
            </div>
            <ul id="product_list" class="datamart_list floating"></ul>


            <!-- 分页开始 -->
            <div id="pageTool"></div>
            <!-- 分页结束 -->
        </div>
    </section>



    <!--页脚-->
    <footer th:replace="layout/footer"></footer>
    <!--页脚结束-->
    <script th:src="@{/tradecenter/js/query.js}"></script>
    <script th:src="@{/tradecenter/js/paging.js}"></script>
    <script th:src="@{/tradecenter/js/pagedata.js}"></script>

    <!-- 数据包产品tpml模板 -->
    <script id="tmpl_products" type="text/x-jquery-tmpl">
        {{each(i,prod) list}}
        <li>
            <a href="/datamart/detail/${prod.id}" class="list_img" target="_blank" style="background:url(${prod.pic}) no-repeat center center;background-size:cover;"> </a>
            <div class="list_main">
                <a href="/datamart/detail/${prod.id}" class="list_title">${$item._substr(prod.designation,14)}</a>
                <div class="list_con">${$item._repstr(prod.introduce,35)}</div>
                <p class="list_bot floating">
                    <span class="lf"> <i></i> 文件，个人，100M以下</span>
                    <span class="rt free">免费</span>
                </p>
            </div>
        </li>
        {{/each}}
    </script>

    <script th:inline="javascript">
        nav(2);
        // 页面请求参数
        var settings = {
            url: "/api/product",            // 请求地址
            tmpl_id: "#tmpl_products" ,     // jquery template 模板元素，如：#div_id 或 .class_name
            target: "#product_list" ,       // 替换html元素，如：#div_id 或 .class_name
            pager_id: "#pageTool",           // 分页html元素标签
            params: [{key:"dataType",value:[[${currentid}]] }]
        }

        // 初始化数据
        pageData.products(settings) ;

        pageData.active(settings) ;

        //banner动画
        var n=1,deg1=0;deg2=0,plus=true,arrow=205,arrowLeft=882,plus2=true;
        setInterval(function(){
            n++;
            if(n>3){
                n=1;
            }
            $(".arrows>i:nth-child("+n+")").addClass("blue").siblings(".blue").removeClass("blue");
            /*if($(".arrow").attr("class").indexOf("shrink")==-1){
                $(".arrow").addClass("shrink");
            }else{
                $(".arrow").removeClass("shrink");
            }*/
            if($(".square").attr("class").indexOf("disappear")==-1){
                $(".square").addClass("disappear");
            }else{
                $(".square").removeClass("disappear");
            }
        },500);
        setInterval(function(){
            deg1++;
            if(deg1>360){
                deg1=0;
            }
            if(deg2==45){
                plus=false;
            }else if( deg2==-45) {
                plus=true;
            }
            if(plus){
                deg2++;
            }else {
                deg2--;
            }
            $(".hex").css("transform","rotate("+deg1+"deg)");
            $(".clock").css("transform","rotate("+deg2+"deg)");
        },20);
        setInterval(function(){
            if(arrow==205){
                plus2=false;
            }else if( arrow==175) {
                plus2=true;
            }
            if(plus2){
                arrow++;
                arrowLeft-=0.5;
            }else {
                arrow--;
                arrowLeft+=0.5;
            }
            $(".arrow").css("width",arrow).css("left",arrowLeft);
        },50);
        setInterval(function(){
            if(parseInt($(".exchange").html())<1000000000){
                $(".exchange").html(parseInt($(".exchange").html())+parseInt(Math.random()*400+100));
            }
            if(parseInt($(".capacity").html())<10000){
                $(".capacity").html(parseInt($(".capacity").html())+parseInt(Math.random()*10+1)+"G");
            }
        },2000);


    </script>
</body>
</html>