<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>钱塘大数据交易中心 | 数据市场</title>
    <div th:replace="layout/top"/>

    <link rel="stylesheet" href="/pages/common/css/datastoreindex.css"/>
</head>
<body class="allindex">
<!--  页头 -->
<div th:replace="layout/header"></div>
<!-- 页头结束 -->

<!-- 内容 -->
<div>
    <img src="/pages/common/images/reptile_02.png" alt=""/>
</div>

<div class="data_store">
    <!--数据分类-->
    <div class="dataclassify">
        <div class="repclissify">
            <span class="datarep">数据分类 : </span>
            <a href="javascript:;" class="active" data-attr="sjall">全部</a>
            <!-- 一级类目 -->
        </div>
        <div class="repdataall" >
            <a class="sjall"></a>
            <!-- 二级类目 -->
            <p class="gysj"></p>
        </div>
    </div>
    <!--收费方式-->
    <p class="tollway">
        <span class="store_price">
            <i class="datarep">收费方式 : </i>
            <a href="javascript:;" class="active">不限</a>
            <a href="javascript:;">收费</a>
            <a href="javascript:;">免费</a>
        </span>
        <span class="store_price">
            <i class="datarep">产品类型 : </i>
            <a href="javascript:;" class="active">数据包</a>
            <a href="javascript:;">API接口</a>
            <a href="javascript:;">数据报告</a>
        </span>
        <span class="store_price">
            <i class="datarep">数据来源 : </i>
            <a href="javascript:;" class="active">不限</a>
            <a href="javascript:;">政府</a>
            <a href="javascript:;">企业</a>
            <a href="javascript:;">组织机构</a>
            <a href="javascript:;">互联网</a>
            <a href="javascript:;">个人</a>
        </span>
    </p>

    <!--销量-->
    <p class="sales">
        <a href="javascript:;">销量 <em></em><i></i> </a>
        <span></span>
        <a href="javascript:;" class="active">最新 <em></em><i></i> </a>
        <span></span>
        <a href="javascript:;">价格 <em></em><i></i> </a>
        <span></span>
        <a href="javascript:;">最热 <em></em><i></i> </a>
    </p>
    <div class="store_main floating">
        <div class="store_one">
            <img src="/pages/common/images/index_06.png" alt=""/>
            <h2>滑动图解 | 过年率成时尚还是搭街坊哈萨克的合法客户端江苏的积分</h2>
            <p class="sto_main">滑动图解 | 过年率成时尚还是搭街坊图解 | 过年率成时尚还是搭街坊哈图解 | 过年率成时尚还是搭街坊哈哈萨克的合法客户端江苏的积分</p>
            <p class="store_small"><span class="lf jtcx">交通出行 | <i>78条</i> </span>  <span class="rt mf">免费</span></p>
        </div>
        <div class="store_one">
            <img src="/pages/common/images/index_06.png" alt=""/>
            <h2>滑动图解 | 过年率成时尚还是搭街坊哈萨克的合法客户端江苏的积分</h2>
            <p class="sto_main">滑动图解 | 过年率成时尚还是搭街坊图解 | 过年率成时尚还是搭街坊哈图解 | 过年率成时尚还是搭街坊哈哈萨克的合法客户端江苏的积分</p>
            <p class="store_small"><span class="lf jtcx">交通出行 | <i>78条</i> </span>  <span class="rt mf">免费</span></p>
        </div>
        <div class="store_one">
            <img src="/pages/common/images/index_06.png" alt=""/>
            <h2>滑动图解 | 过年率成时尚还是搭街坊哈萨克的合法客户端江苏的积分</h2>
            <p class="sto_main">滑动图解 | 过年率成时尚还是搭街坊图解 | 过年率成时尚还是搭街坊哈图解 | 过年率成时尚还是搭街坊哈哈萨克的合法客户端江苏的积分</p>
            <p class="store_small"><span class="lf jtcx">交通出行 | <i>78条</i> </span>  <span class="rt mf">免费</span></p>
        </div>
        <div class="store_one">
            <img src="/pages/common/images/index_06.png" alt=""/>
            <h2>滑动图解 | 过年率成时尚还是搭街坊哈萨克的合法客户端江苏的积分</h2>
            <p class="sto_main">滑动图解 | 过年率成时尚还是搭街坊图解 | 过年率成时尚还是搭街坊哈图解 | 过年率成时尚还是搭街坊哈哈萨克的合法客户端江苏的积分</p>
            <p class="store_small"><span class="lf jtcx">交通出行 | <i>78条</i> </span>  <span class="rt mf">免费</span></p>
        </div>
        <div class="store_one">
            <img src="/pages/common/images/index_06.png" alt=""/>
            <h2>滑动图解 | 过年率成时尚还是搭街坊哈萨克的合法客户端江苏的积分</h2>
            <p class="sto_main">滑动图解 | 过年率成时尚还是搭街坊图解 | 过年率成时尚还是搭街坊哈图解 | 过年率成时尚还是搭街坊哈哈萨克的合法客户端江苏的积分</p>
            <p class="store_small"><span class="lf jtcx">交通出行 | <i>78条</i> </span>  <span class="rt mf">免费</span></p>
        </div>
        <div class="store_one">
            <img src="/pages/common/images/index_06.png" alt=""/>
            <h2>滑动图解 | 过年率成时尚还是搭街坊哈萨克的合法客户端江苏的积分</h2>
            <p class="sto_main">滑动图解 | 过年率成时尚还是搭街坊图解 | 过年率成时尚还是搭街坊哈图解 | 过年率成时尚还是搭街坊哈哈萨克的合法客户端江苏的积分</p>
            <p class="store_small"><span class="lf jtcx">交通出行 | <i>78条</i> </span>  <span class="rt mf">免费</span></p>
        </div>
    </div>
    <em class="mainbottom"></em>
</div>

<!-- 一级类目数据模板 -->
<script id="tmpl_types" type="text/x-jquery-tmpl">
    {{if pageInfo.length>0}}
        {{each(i,prod) pageInfo}}
            <a href="javascript:;" class="sjgy" data-attr="gysj" data-id="${prod.id}">${prod.name}</a>
        {{/each}}
    {{/if}}
</script>
<!-- 二级类目数据模板 -->
<script id="tmpl_subTypes" type="text/x-jquery-tmpl">
    {{if pageInfo.length>0}}
        {{each(i,prod) pageInfo}}
            <a href="javascript:;" data-id="${prod.id}">${prod.name}</a>
        {{/each}}
    {{/if}}
</script>

<script>
    LoadingData.request({url: "/api/type/0"}, function(data){
        // 装载一级类目数据
        $("#tmpl_types").tmpl(data).appendTo(".repclissify");

        // 清空所有二级类目数据
        $(".repclissify").html() ;

        // 一级类目绑定click事件
        $(".repclissify > a").click(function () {

            $(".repclissify > a").removeClass("active") ;
            $(this).addClass("active") ;

            var _id = $(this).attr("data-id") ;
            LoadingData.request({url: "/api/type/"+_id}, function(data){

                $(".gysj").show().html("") ;
                $("#tmpl_subTypes").tmpl(data).appendTo(".gysj");
            }) ;
        })
    }) ;
</script>
<!-- 内容结束 -->

<!-- 页脚 -->
<footer th:replace="layout/footer" />
<!-- 页脚结束 -->
</body>
</html>