<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 引入header布局 -->
    <top th:replace="layout/top :: top"></top>
    <!-- 页面自定义css、js  -->
    <title>需求大厅</title>
    <meta name="keywords" content="钱塘大数据交易中心" />
    <meta name="description" content="钱塘大数据交易中心 数据商城" />

    <link rel="stylesheet" th:href="@{/tradecenter/css/demand.css}" />
    <link rel="stylesheet" th:href="@{/tradecenter/css/paging.css}" />

    <script th:src="@{/tradecenter/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/tradecenter/js/layer.js}"></script>
</head>

<body >
    <!-- 页头-->
    <header class="floating top">
        <a class="lf qt_logo icon"></a>
        <div class="rt head_search floating">
            <input type="text" placeholder="请输入查找内容" class="search_input lf"/>
            <a href="javascript:;" class="search_btn rt">搜索</a>
        </div>
        <div class="head_fabu  floating">
            <i class="lf icon"></i>
            <div class="lf fabu_btns">
                <p>发布</p>
                <a href="javascript:;">项目发布</a>
                <a href="javascript:;">需求发布</a>
                <a href="javascript:;">加盟服务</a>
            </div>
        </div>
    </header>
    <!--导航栏-->
    <nav>
        <div class="nav_con floating">
            <p class="nav_list lf">
                <a href="javascript:;">首页</a>
                <a href="javascript:;" class="active">数据商城</a>
                <a href="javascript:;">需求大厅</a>
                <a href="javascript:;">数据合作</a>
                <a href="javascript:;">关于我们</a>
            </p>
            <!--如果未登录-->
            <!--  <p class="rt nav_list nav_rt">
                  <a href="javascript:;">登录</a>
                  <i>/</i>
                  <a href="javascript:;">注册</a>
              </p>-->
            <!--如果已登录-->
            <div class="rt nav_haslogin floating">
                <a href="javascript:;" class="lf user_img">
                    <img src="images/user_img.jpg" alt=""/>
                </a>
                <div class="lf user_center">
                    <p class="user_name">钱塘大数据<i></i></p>
                    <p class="nav_down">
                        <a href="javascript:;">个人中心</a>
                        <a href="javascript:;">退出登录</a>
                    </p>
                </div>
            </div>

        </div>
    </nav>
    <!--页头结束-->

    <!--banner图 -->
    <div class="banner"></div>

    <!--主体-->
    <section class="demand_main floating main">
        <!--左侧-->
        <div class="lf main_lf">
            <!--数据类型筛选-->
            <p class="chose_menu floating">
                <span>服务范围&nbsp;&nbsp;：</span>
                <a class="active" data-id="0">不限</a>
                <a data-id="1">知识专利</a>
                <a data-id="2">智能制造</a>
                <a data-id="3">物联网</a>
                <a data-id="4">工业参数</a>
                <a data-id="5">仪器仪表</a>
                <a data-id="6">先进制造</a>
                <a data-id="7">工业安全</a>
                <a data-id="8">政府监管</a>
                <a data-id="9">工业运行</a>
                <a data-id="10">物流 数据</a>
                <a data-id="11">工业设计</a>
                <a data-id="12">学术教育</a>
                <a data-id="13">行业综合</a>
                <a data-id="14">其他</a>
            </p>
            <p class="filters">
                <a data-id="1" class="active">数据众包</a>
                <a data-id="2">方案召集</a>
            </p>
            <!-- 数据列表 -->
            <ul class="data_list">
                <li>
                    <div class="lf">
                        <p class="list_title">现有安全隐患、销号公司数据整理 <span>218天后截止</span> </p>
                        <p class="list_info">2017-2022年中国铜业机械行业发展前景分析，包括中国铜业机械行业发展环境分析、中国铜业机械行业发展分析、中国铜业机械行业经济运行分析、中国铜业...</p>
                        <p class="list_bot">
                            <span>数据规模：8000条</span>
                            <span>数据类型：知识专利</span>
                            <span>需求类型：数据预处理</span>
                        </p>
                    </div>
                    <div class="rt list_rt">
                        <h1>￥5000.00</h1>
                        <p> 0人已经接单</p>
                        <a href="javascript:;"> 立即接单</a>
                    </div>
                </li>
                <li>
                    <div class="lf">
                        <p class="list_title">现有安全隐患、销号公司数据整理 <span>218天后截止</span> </p>
                        <p class="list_info">2017-2022年中国铜业机械行业发展前景分析，包括中国铜业机械行业发展环境分析、中国铜业机械行业发展分析、中国铜业机械行业经济运行分析、中国铜业...</p>
                        <p class="list_bot">
                            <span>数据规模：8000条</span>
                            <span>数据类型：知识专利</span>
                            <span>需求类型：数据预处理</span>
                        </p>
                    </div>
                    <div class="rt list_rt">
                        <h1>￥5000.00</h1>
                        <p> 0人已经接单</p>
                        <a href="javascript:;"> 立即接单</a>
                    </div>
                </li>
            </ul>
            <!-- 分页开始 -->
            <div id="pageTool"></div>
            <!-- 分页结束 -->
        </div>
        <!--右侧-->
        <div class="rt main_rt">
            <div class="demand_fabu">
                <p>有问题？</p>
                <p>就来这里发布需求</p>
                <p>个性需求 我来定制</p>
                <a href="javasctipt:;">立即发布需求</a>
            </div>
            <div class="demand_suc">
                <p>现有安全隐患、销号公司数据整理</p>
                <p>￥5000.00</p>
            </div>
        </div>
    </section>


    <!--页脚-->
    <footer class="footer">
        <ul class="footer_main floating">
            <li class="contactus">
                <h2><i></i>联系我们</h2>
                <p>客服电话：0571-22872851</p>
                <p>商务邮箱：qt@qtbigdata.com</p>
                <p>网址：<a href="http://www.qtbigdata.com">www.qtbigdata.com</a></p>
            </li>
            <li class="platform">
                <h2 ><i></i>平台功能</h2>
                <p><a href="javascript:;">数据商城</a> <a href="javascript:;">需求大厅</a></p>
                <p><a href="javascript:;">数据合作</a> <a href="javascript:;">关于我们</a></p>
            </li>
            <li class="cooperation">
                <h2><i></i>合作共赢</h2>
                <p><a href="javascript:;">在线咨询</a> <a href="javascript:;">用户协议</a></p>
                <p><a href="javascript:;">建议反馈</a> <a href="javascript:;">新手指南</a></p>
            </li>
            <li class="focusus">
                <h2><i></i>合作共赢</h2>
                <img src="images/qr_code.png" alt="" class="qr_code"/>
            </li>
        </ul>
    </footer>
    <!--页脚结束-->
    <script src="js/query.js"></script>
    <script src="js/paging.js"></script>
    <script src="js/demand.js"></script>

</body>
</html>