<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/tradecenter/images/qiantang.ico}" />
    <title>需求大厅</title>
    <!-- 引入header布局 -->
    <top th:replace="layout/top :: top"></top>
    <!-- 页面自定义css、js  -->
    <meta name="keywords" content="钱塘大数据交易中心" />
    <meta name="description" content="钱塘大数据交易中心 数据商城" />

    <link rel="stylesheet" th:href="@{/tradecenter/css/demand.css}" />
</head>

<body >
    <!-- 页头-->
    <div th:include="layout/header::#head" ></div>
    <!--页头结束-->

    <!--banner图 -->
    <div class="banner"></div>

    <!--主体-->
    <section class="demand_main floating main">
        <!--左侧-->
        <div class="lf main_lf">
            <!--数据类型筛选-->
            <p class="chose_menu floating">
                <span>服务范围&nbsp;&nbsp;：</span>
                <a th:class="${currentid} ? null : 'active'" data-id="0" th:href="@{/demand}" id="limit" onclick="return getDataByDataType(this);">不限</a>
                <a th:each="val : ${typeModels}" th:href="@{/demand}+'/'+${val.id}" th:text="${val.name}" th:attr="data-id=${val.id}" th:class="${currentid} == ${val.id} ? 'active'" onclick="return getDataByDataType(this);">智能制造</a>
            </p>
            <p class="filters">
                <a data-id="1" class="active" id="buyInfo">数据众包</a>
                <a data-id="2" id="sosInfo">方案召集</a>
            </p>
            <!-- 数据列表 -->
            <ul class="data_list" id="data_list"></ul>
            <!-- 分页开始 -->
            <div id="pageTool"></div>
            <!-- 分页结束 -->
        </div>
        <!--右侧-->
        <div class="rt main_rt">
            <div class="demand_fabu">
                <p>有问题？</p>
                <p>就来这里发布需求</p>
                <p>个性需求 我来定制</p>
                <a href="javasctipt:;">立即发布需求</a>
            </div>
            <div class="demand_suc">
                <p>现有安全隐患、销号公司数据整理</p>
                <p>￥5000.00</p>
            </div>
        </div>
    </section>

    <!--页脚-->
    <footer th:replace="layout/footer"></footer>
    <!--页脚结束-->
    <script th:src="@{/tradecenter/js/query.js}"></script>
    <script th:src="@{/tradecenter/js/paging.js}"></script>
    <script th:src="@{/tradecenter/js/demand.js}"></script>
    <script th:src="@{/tradecenter/js/pagedata.js}"></script>
    <!-- 数据众包模板 -->
    <script id="tmpl_demand_buyInfos" type="text/x-jquery-tmpl">
        {{each(i,prod) list}}
        <li>
            <div class="lf">
                <p class="list_title">${prod.designation} <span>${$item._surplusDays(prod.toDate)}天后截止</span> </p>
                <p class="list_info">${$item._substr(prod.description,100)}</p>
                <p class="list_bot">
                    <span>数据规模：${prod.dataScale}条</span>
                    <span>数据类型：${prod.dataType}</span>
                </p>
            </div>
            <div class="rt list_rt">
                <h1>￥${prod.expFee}</h1>
                <p> 0人已经接单</p>
                <a href="javascript:;"> 立即接单</a>
            </div>
         </li>
        {{/each}}
    </script>
    <!-- 方案召集模板 -->
    <script id="tmpl_demand_sosInfos" type="text/x-jquery-tmpl">
        {{each(i,prod) list}}
        <li>
            <div class="lf">
                <p class="list_title">${prod.designation} <span>${$item._surplusDays(prod.toDate)}天后截止</span> </p>
                <p class="list_info">${prod.description}</p>
                <p class="list_bot">
                    <span>数据规模：${prod.dataScale}条</span>
                    <span>数据类型：${prod.dataType}</span>
                    <span>需求类型：${prod.demandType}</span>
                </p>
            </div>
            <div class="rt list_rt">
                <h1>￥${prod.expFee}</h1>
                <p> 0人已经接单</p>
                <a href="javascript:;"> 立即接单</a>
            </div>
         </li>
        {{/each}}
    </script>

    <script th:inline="javascript">

        // 页面请求参数
        var settings = {
            url: "/api/demand/buyInfos",            // 请求地址
            tmpl_id: "#tmpl_demand_buyInfos" ,     // jquery template 模板元素，如：#div_id 或 .class_name
            target: "#data_list" ,       // 替换html元素，如：#div_id 或 .class_name
            pager_id: "#pageTool",           // 分页html元素标签
            params: [{key:"dataType",value:[[${currentid}]] }]
        }

        var settings_sos = {
            url: "/api/demand/sosInfos",            // 请求地址
            tmpl_id: "#tmpl_demand_sosInfos" ,     // jquery template 模板元素，如：#div_id 或 .class_name
            target: "#data_list" ,       // 替换html元素，如：#div_id 或 .class_name
            pager_id: "#pageTool",           // 分页html元素标签
            params: [{key:"dataType",value:[[${currentid}]] }]
        }

        // 初始化数据
/*        pageData.products(settings) ;

        pageData.products(settings_sos) ;

        pageData.active(settings) ;*/
        var flag = $("#buyInfo").is(".active");
        if(flag){
            pageData.products(settings) ;
        }else{
            pageData.products(settings_sos) ;
        }

    </script>
    <script>
        function changeDate(){
            var flag = $("#buyInfo").is(".active");
            if(flag){
                pageData.products(settings) ;
            }else{
                var dataTypeNew = null;
                var settings_sos_new = {
                    url: "/api/demand/sosInfos",            // 请求地址
                    tmpl_id: "#tmpl_demand_sosInfos" ,     // jquery template 模板元素，如：#div_id 或 .class_name
                    target: "#data_list" ,       // 替换html元素，如：#div_id 或 .class_name
                    pager_id: "#pageTool",           // 分页html元素标签
                    params: [{key:"dataType",value:dataTypeNew }]
                }
                pageData.products(settings_sos_new) ;
                $("#limit").addClass("active");
            }
        }

        function getDataByDataType(data) {
            var flag = $("#buyInfo").is(".active");
            if(flag){
                return true;
            }else {
                var dataTypeNew = $(data).attr("data-id");
                if(dataTypeNew == 0){
                    dataTypeNew = null;
                }
                var settings_sos_new = {
                    url: "/api/demand/sosInfos",            // 请求地址
                    tmpl_id: "#tmpl_demand_sosInfos" ,     // jquery template 模板元素，如：#div_id 或 .class_name
                    target: "#data_list" ,       // 替换html元素，如：#div_id 或 .class_name
                    pager_id: "#pageTool",           // 分页html元素标签
                    params: [{key:"dataType",value:dataTypeNew }]
                }
                pageData.products(settings_sos_new) ;
                return false;
            }
        }

    </script>
</body>
</html>